Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

remove-trailing-spaces:
  run: perl -i -pe 's/[ \t]+$//' {staged_files}
  stage_fixed: true
  priority: 1

ensure-newline-eof:
  run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
  stage_fixed: true
  priority: 2

golangci-fmt:
  run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
  stage_fixed: true

vet:
  run: go vet ./...

test:
  run: go test -short ./...

mod-tidy:
  run: go mod tidy
  stage_fixed: true

markdown-lint:
  run: npx --no-install markdownlint-cli2 {staged_files}

yamlfmt:
  run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
  stage_fixed: true

refactor: remove backward compatibility for GetContextPath
  docs/adr/021-deprecate-mailbox-for-storage.md
  internal/core/workspace/types.go
  internal/mcp/bridge_tools.go
  internal/mcp/resource_templates.go
  internal/mcp/resource_templates_test.go
  internal/mcp/resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: deprecate mailbox in favor of generalized storage (#131)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/adr/021-deprecate-mailbox-for-storage.md
  docs/mcp.md
  internal/cli/commands/helpers.go
  internal/cli/commands/mailbox.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/root.go
  internal/cli/commands/session/helpers.go
  internal/cli/ui/output.go
  internal/core/mailbox/manager.go
  internal/core/mailbox/manager_test.go
  internal/core/mailbox/types.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/store.go
  internal/core/session/types.go
  internal/core/tail/tail_test.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
  internal/mcp/bridge_tools.go
  internal/mcp/resource_templates.go
  internal/mcp/resource_templates_test.go
  internal/mcp/resources.go
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_resources_test.go
  internal/mcp/storage_tools.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: display session description in amux ps output
  internal/cli/commands/session/list.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: add description column to amux ps output with truncation
  internal/cli/commands/session/list.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: keep name column empty when not set
  internal/cli/commands/session/list.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add optional name field to sessions (#124)
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/helpers_test.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/session.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/types.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_resources_test.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add optional name field to sessions (#124) (#134)
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/helpers_test.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/session.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/types.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_resources_test.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: correct session manager test initialization
  internal/core/session/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: fix test race conditions by using t.Cleanup instead of defer
  internal/cli/commands/workspace_test.go
  internal/core/workspace/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: make test workspace names unique to avoid CI race conditions
  internal/cli/commands/session/remove_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: skip session tests when tmux is not available
  internal/mcp/session_resources_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: fix test race conditions in workspace and session tests (#136)
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/workspace_test.go
  internal/core/session/manager_test.go
  internal/core/workspace/manager_test.go
  internal/mcp/session_resources_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: add automatic cleanup for test temporary directories (#137)
  internal/cli/commands/session/helpers_test.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/workspace_test.go
  internal/core/tail/tail_test.go
  internal/core/workspace/manager_test.go
  internal/tests/helpers/repo.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: add error check for os.RemoveAll in cleanup
  internal/tests/helpers/repo.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: add automatic cleanup for test temporary directories (#137) (#139)
  internal/cli/commands/session/helpers_test.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/workspace_test.go
  internal/core/tail/tail_test.go
  internal/core/workspace/manager_test.go
  internal/tests/helpers/repo.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: make MCP tools consistently accept workspace/session names and indices (#138)
  internal/cli/commands/context.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/send_input.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
  internal/mcp/bridge_tools.go
  internal/mcp/prompts.go
  internal/mcp/resource_templates.go
  internal/mcp/schema.go
  internal/mcp/server.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools.go
  internal/mcp/workspace_bridge_tools.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR for type-safe identifiers
  docs/adr/022-type-safe-identifiers.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: add reminder about directory-specific CLAUDE.md files
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: add blank line after 'For example:' in CLAUDE.md
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: add type-safe identifiers and consistent name resolution for workspaces and sessions (#140)
  CLAUDE.md
  docs/adr/022-type-safe-identifiers.md
  internal/cli/commands/context.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/send_input.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
  internal/mcp/bridge_tools.go
  internal/mcp/prompts.go
  internal/mcp/resource_templates.go
  internal/mcp/schema.go
  internal/mcp/server.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools.go
  internal/mcp/workspace_bridge_tools.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: skip process tests on Windows that require pgrep
  internal/core/process/process_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: automatically capture exit status from shell
  docs/adr/022-session-failure-detection.md
  internal/core/session/failure_test.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: update ADR-022 to reflect file-based exit status capture
  docs/adr/022-session-failure-detection.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: skip tmux tests on Windows in failure_test.go
  internal/core/session/failure_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: use direct file write for exit status capture instead of pane parsing
  internal/core/session/failure_test.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

perf: add status caching and batch updates for better performance
  internal/cli/commands/session/list.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/mcp/session_resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement session failure detection (#98)
  docs/adr/022-session-failure-detection.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/session/list.go
  internal/core/process/process.go
  internal/core/process/process_test.go
  internal/core/session/failure_test.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: ensure Delete returns error for non-existent sessions
  internal/core/session/store.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: update ADR-022 with performance optimizations and platform notes
  docs/adr/022-session-failure-detection.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

perf: improve UpdateAllStatuses with concurrency limit
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: properly handle session not found errors in Get method
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: improve ResolveSession error handling for deleted sessions
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: clean up tmux sessions when removing completed sessions
  docs/adr/022-session-failure-detection.md
  internal/core/session/manager.go
  internal/core/session/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: update ADR-022 with session lifecycle and cleanup details
  docs/adr/022-session-failure-detection.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: fix state mapping table in ADR-022
  docs/adr/022-session-failure-detection.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: update ADR-022 with implementation details
  docs/adr/022-session-failure-detection.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

perf: optimize status cache duration for better idle detection
  docs/adr/022-session-failure-detection.md
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor: persist LastStatusCheck and optimize UpdateStatus saves
  docs/adr/022-session-failure-detection.md
  internal/core/session/failure_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: implement session failure detection (#133)
  docs/adr/022-session-failure-detection.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/session/list.go
  internal/core/process/process.go
  internal/core/process/process_test.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/store.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
  internal/mcp/session_resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: standardize MCP tool parameter names to use _identifier suffix
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools.go
  internal/mcp/workspace_bridge_tools.go
  internal/mcp/workspace_bridge_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

Path conditions:
  remove-trailing-spaces: any of: *.{go,md,yml,yaml,txt,json,toml,mod,sum}
  ensure-newline-eof: any of: *.{go,md,yml,yaml,txt,json,toml,mod,sum}
  golangci-fmt: any of: *.go
  vet: any of: *.go
  test: any of: *.go
  mod-tidy: any of: go.mod
  markdown-lint: any of: *.md
  yamlfmt: any of: *.{yaml,yml}
