Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

lefthook.yml:

# Lefthook configuration for Amux
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: false
  commands:
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 1
    ensure-newline-eof:
      run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 2
    golangci-fmt:
      run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
      glob: "*.go"
      stage_fixed: true
    vet:
      run: go vet ./...
      glob: "*.go"
    test:
      run: go test -short ./...
      glob: "*.go"
    mod-tidy:
      run: go mod tidy
      glob: "go.mod"
      stage_fixed: true
    markdown-lint:
      run: npx --no-install markdownlint-cli2 {staged_files}
      glob: "*.md"
    yamlfmt:
      run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
      glob: "*.{yaml,yml}"
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    test-full:
      run: go test ./...
    build:
      run: go build -o bin/amux cmd/amux/main.go
commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit $1

docs: remove best practices section from AI workflows guide
  docs-site/docs/guides/ai-workflows.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: mark resource_workspace_browse as disabled per PR #166
  docs-site/docs/guides/ai-workflows.md
  docs-site/docs/reference/mcp-api.md
  docs/examples.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: complete CLI-MCP compatibility documentation based on actual commands
  README.md
  docs-site/docs/guides/ai-workflows.md
  docs-site/docs/reference/commands.md
  docs-site/docs/reference/mcp-api.md
  docs/mcp-cli-compatibility-report.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: complete AI workflows documentation rewrite and fix markdown lint errors
  .github/workflows/deploy-docs.yml
  README.md
  assets/hero-image.svg
  assets/logo.svg
  docs-site/.gitignore
  docs-site/README.md
  docs-site/docs/getting-started/installation.md
  docs-site/docs/getting-started/quick-start.md
  docs-site/docs/guides/ai-workflows.md
  docs-site/docs/guides/session-management.md
  docs-site/docs/guides/workspaces.md
  docs-site/docs/intro.md
  docs-site/docs/reference/commands.md
  docs-site/docs/reference/configuration.md
  docs-site/docs/reference/mcp-api.md
  docs-site/docusaurus.config.ts
  docs-site/package.json
  docs-site/sidebars.ts
  docs-site/src/components/HomepageFeatures/index.tsx
  docs-site/src/components/HomepageFeatures/styles.module.css
  docs-site/src/css/custom.css
  docs-site/src/pages/index.module.css
  docs-site/src/pages/index.tsx
  docs-site/src/pages/markdown-page.md
  docs-site/static/.nojekyll
  docs-site/static/img/amux-social-card.png
  docs-site/static/img/favicon.ico
  docs-site/static/img/favicon.svg
  docs-site/static/img/features/instant-isolation.svg
  docs-site/static/img/features/parallel-development.svg
  docs-site/static/img/features/seamless-integration.svg
  docs-site/static/img/logo.svg
  docs-site/tsconfig.json
  docs/commands.md
  docs/examples.md
  docs/mcp-integration.md
  package.json
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint, yamlfmt

docs: clarify AI workflow examples to avoid automation misconceptions
  docs-site/docs/guides/ai-workflows.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: remove deprecated agent command references from documentation
  docs-site/docs/guides/session-management.md
  docs-site/docs/reference/commands.md
  docs-site/docs/reference/mcp-api.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: remove tool reference section from AI workflows guide
  docs-site/docs/guides/ai-workflows.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: remove project config references from documentation
  docs-site/docs/reference/configuration.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: add tmux environment parameter documentation from PR #159
  docs-site/docs/guides/session-management.md
  docs/mcp-integration.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: add autoAttach parameter documentation from PR #158
  docs-site/docs/guides/session-management.md
  docs-site/docs/reference/commands.md
  docs-site/docs/reference/configuration.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: improve challenge section narrative and fix MCP design philosophy accuracy
  docs-site/docs/guides/ai-workflows.md
  docs-site/docs/intro.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: add comprehensive lifecycle hooks documentation
  docs-site/docs/guides/hooks.md
  docs-site/docs/reference/configuration.md
  docs-site/sidebars.ts
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: update storage tools documentation for PR #168
  docs-site/docs/guides/ai-workflows.md
  docs-site/docs/reference/mcp-api.md
  docs/examples.md
  docs/mcp-integration.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: remove extra blank lines
  docs-site/docs/reference/mcp-api.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: update documentation for PR #174 and #175
  docs-site/docs/getting-started/quick-start.md
  docs-site/docs/guides/session-management.md
  docs-site/docs/reference/mcp-api.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: configure for GitHub Pages deployment
  docs-site/docusaurus.config.ts
Due: none

docs: add ADR for documentation site and hosting decision
  docs/adr/028-documentation-site-and-hosting.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: revamp documentation for v0.1.0 release (#163)
  .github/workflows/deploy-docs.yml
  README.md
  assets/hero-image.svg
  assets/logo.svg
  docs-site/.gitignore
  docs-site/README.md
  docs-site/docs/getting-started/installation.md
  docs-site/docs/getting-started/quick-start.md
  docs-site/docs/guides/ai-workflows.md
  docs-site/docs/guides/hooks.md
  docs-site/docs/guides/session-management.md
  docs-site/docs/guides/workspaces.md
  docs-site/docs/intro.md
  docs-site/docs/reference/commands.md
  docs-site/docs/reference/configuration.md
  docs-site/docs/reference/mcp-api.md
  docs-site/docusaurus.config.ts
  docs-site/package.json
  docs-site/sidebars.ts
  docs-site/src/components/HomepageFeatures/index.tsx
  docs-site/src/components/HomepageFeatures/styles.module.css
  docs-site/src/css/custom.css
  docs-site/src/pages/index.module.css
  docs-site/src/pages/index.tsx
  docs-site/src/pages/markdown-page.md
  docs-site/static/.nojekyll
  docs-site/static/img/amux-social-card.png
  docs-site/static/img/favicon.ico
  docs-site/static/img/favicon.svg
  docs-site/static/img/features/instant-isolation.svg
  docs-site/static/img/features/parallel-development.svg
  docs-site/static/img/features/seamless-integration.svg
  docs-site/static/img/logo.svg
  docs-site/tsconfig.json
  docs/adr/028-documentation-site-and-hosting.md
  docs/commands.md
  docs/examples.md
  docs/mcp-cli-compatibility-report.md
  docs/mcp-integration.md
  package.json
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint, yamlfmt

fix: include package-lock.json for docs deployment
  .gitignore
  docs-site/package-lock.json
Due: remove-trailing-spaces, ensure-newline-eof

fix: allow all package manager lock files in version control
  .gitignore
Due: none

fix: include package-lock.json for docs deployment (#176)
  .gitignore
  docs-site/package-lock.json
Due: remove-trailing-spaces, ensure-newline-eof

docs: prepare CHANGELOG for v0.1.0 release
  CHANGELOG.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: update CHANGELOG.md for v0.1.0 release
  CHANGELOG.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

Release v0.1.0 (#177)
  CHANGELOG.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: update release workflow to create tar.gz archives for Homebrew
  .github/workflows/release.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: update release workflow to create tar.gz archives for Homebrew (#178)
  .github/workflows/release.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: handle Windows .exe extension in build command
  justfile
Due: none

fix: remove manual binary renaming in build workflow
  .github/workflows/build.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: remove manual binary renaming in build workflow (#179)
  .github/workflows/build.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: update binary paths in build workflow
  .github/workflows/build.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: update binary paths in build workflow (#180)
  .github/workflows/build.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

refactor: add context propagation to session and workspace APIs (#147)
  internal/cli/commands/session/list.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/stop.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/tail/tail_test.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools_test.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: add context propagation to session and workspace APIs (#147) (#181)
  internal/cli/commands/session/list.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/stop.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/tail/tail_test.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools_test.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: hold file lock until after atomic rename to prevent race conditions
  internal/filemanager/filemanager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: hold file lock until after atomic rename to prevent race conditions (#186)
  internal/filemanager/filemanager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: standardize session run and hooks output
  internal/cli/commands/session/run.go
  internal/core/hooks/executor.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: reduce excessive UI output in CLI commands
  internal/cli/commands/hooks.go
  internal/cli/commands/init.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/hooks.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/send_input.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: standardize CLI output design (#184)
  docs/cli-output-guidelines.md
  internal/cli/commands/config_validate.go
  internal/cli/commands/hooks.go
  internal/cli/commands/init.go
  internal/cli/commands/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: correct color codes and examples in CLI output guidelines
  docs/cli-output-guidelines.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: handle missing workspaces gracefully in 'amux ps' command
  internal/cli/commands/session/list.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test
