Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

lefthook.yml:

# Lefthook configuration for Amux
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: false
  commands:
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 1
    ensure-newline-eof:
      run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 2
    golangci-fmt:
      run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
      glob: "*.go"
      stage_fixed: true
    vet:
      run: go vet ./...
      glob: "*.go"
    test:
      run: go test -short ./...
      glob: "*.go"
    mod-tidy:
      run: go mod tidy
      glob: "go.mod"
      stage_fixed: true
    markdown-lint:
      run: npx --no-install markdownlint-cli2 {staged_files}
      glob: "*.md"
    yamlfmt:
      run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
      glob: "*.{yaml,yml}"
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    test-full:
      run: go test ./...
    build:
      run: go build -o bin/amux cmd/amux/main.go
commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit $1

fix: simplify tmux agent configuration by removing shell field (#218)
  docs/migration-guide-tmux-command.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/adapter_test.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/adapters/tmux/mock_test.go
  internal/cli/commands/config/config_show.go
  internal/cli/commands/config/config_test.go
  internal/cli/commands/config/config_validate.go
  internal/cli/commands/config/config_validate_test.go
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
  internal/core/config/unmarshal_test.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

chore: remove migration guide from docs directory
  docs/migration-guide-tmux-command.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: use user's default shell instead of hardcoded bash
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove unnecessary default shell fallback
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: simplify tmux agent configuration by removing shell field (#221)
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/adapter_test.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/adapters/tmux/mock_test.go
  internal/cli/commands/config/config_show.go
  internal/cli/commands/config/config_test.go
  internal/cli/commands/config/config_validate.go
  internal/cli/commands/config/config_validate_test.go
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
  internal/core/config/unmarshal_test.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

Initial commit
  README.md
  internal/cli/commands/session/session.go
  internal/cli/commands/session/storage/helpers.go
  internal/cli/commands/session/storage/list.go
  internal/cli/commands/session/storage/read.go
  internal/cli/commands/session/storage/remove.go
  internal/cli/commands/session/storage/storage.go
  internal/cli/commands/session/storage/storage_test.go
  internal/cli/commands/session/storage/write.go
  internal/cli/commands/workspace/storage/helpers.go
  internal/cli/commands/workspace/storage/list.go
  internal/cli/commands/workspace/storage/read.go
  internal/cli/commands/workspace/storage/remove.go
  internal/cli/commands/workspace/storage/storage.go
  internal/cli/commands/workspace/storage/storage_test.go
  internal/cli/commands/workspace/storage/write.go
  internal/cli/commands/workspace/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: add CLI commands for storage operations (#210)
  README.md
  internal/cli/commands/session/storage/storage_test.go
  internal/cli/commands/workspace/storage/storage_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: implement generic file-based semaphore library
  internal/semaphore/README.md
  internal/semaphore/filelock.go
  internal/semaphore/process_test.go
  internal/semaphore/semaphore.go
  internal/semaphore/semaphore_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

chore: fix markdown formatting in semaphore README
  internal/semaphore/README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

chore: fix markdown formatting consistency
  internal/semaphore/README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: add Windows support for file locking in semaphore
  internal/semaphore/filelock_unix.go
  internal/semaphore/filelock_windows.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: make storage helper functions reusable and consistent
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/storage/helpers.go
  internal/cli/commands/workspace/cd.go
  internal/cli/commands/workspace/create.go
  internal/cli/commands/workspace/helpers.go
  internal/cli/commands/workspace/list.go
  internal/cli/commands/workspace/prune.go
  internal/cli/commands/workspace/remove.go
  internal/cli/commands/workspace/show.go
  internal/cli/commands/workspace/storage/helpers.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

chore: add package comments to filelock files
  internal/semaphore/filelock_unix.go
  internal/semaphore/filelock_windows.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: create reusable session manager factory
  internal/cli/commands/session/helpers.go
  internal/core/session/factory.go
  internal/mcp/session_resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: move semaphore documentation to ADR-032
  docs/adr/032-file-based-semaphore-library.md
  internal/semaphore/README.md
  internal/semaphore/semaphore.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

chore: fix ADR formatting
  docs/adr/032-file-based-semaphore-library.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: implement generic file-based semaphore library (#213)
  docs/adr/032-file-based-semaphore-library.md
  internal/cli/commands/session/helpers.go
  internal/core/session/factory.go
  internal/mcp/session_resources.go
  internal/semaphore/filelock_unix.go
  internal/semaphore/filelock_windows.go
  internal/semaphore/process_test.go
  internal/semaphore/semaphore.go
  internal/semaphore/semaphore_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: add CLI commands for storage operations (#222)
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/session.go
  internal/cli/commands/session/storage/helpers.go
  internal/cli/commands/session/storage/list.go
  internal/cli/commands/session/storage/read.go
  internal/cli/commands/session/storage/remove.go
  internal/cli/commands/session/storage/storage.go
  internal/cli/commands/session/storage/storage_test.go
  internal/cli/commands/session/storage/write.go
  internal/cli/commands/workspace/cd.go
  internal/cli/commands/workspace/create.go
  internal/cli/commands/workspace/list.go
  internal/cli/commands/workspace/prune.go
  internal/cli/commands/workspace/remove.go
  internal/cli/commands/workspace/show.go
  internal/cli/commands/workspace/storage/helpers.go
  internal/cli/commands/workspace/storage/list.go
  internal/cli/commands/workspace/storage/read.go
  internal/cli/commands/workspace/storage/remove.go
  internal/cli/commands/workspace/storage/storage.go
  internal/cli/commands/workspace/storage/storage_test.go
  internal/cli/commands/workspace/storage/write.go
  internal/cli/commands/workspace/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement dependency container pattern for manager initialization
  docs/adr/033-dependency-container-pattern.md
  internal/app/container.go
  internal/app/container_test.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/send_input.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/session/storage/helpers.go
  internal/cli/commands/workspace/helpers.go
  internal/cli/commands/workspace/storage/helpers.go
  internal/mcp/server.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: add missing blank lines in ADR markdown
  docs/adr/033-dependency-container-pattern.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: update send input test to handle amux project error message
  internal/cli/commands/session/send_input_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: keep package-specific helpers to avoid circular imports
  internal/cli/commands/session/helpers.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: replace Container with package-local setup functions (#223)
  container-dependency-analysis.md
  dependency-analysis.md
  docs/dependency-management.md
  internal/app/container.go
  internal/app/container_test.go
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/storage/helpers.go
  internal/cli/commands/workspace/helpers.go
  internal/cli/commands/workspace/storage/helpers.go
  internal/core/session/setup.go
  internal/core/workspace/manager.go
  internal/core/workspace/setup.go
  internal/mcp/server.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: add ADR 034 superseding Container pattern with setup functions
  docs/adr/033-dependency-container-pattern.md
  docs/adr/034-setup-functions-over-container.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

chore: remove temporary analysis documents
  container-dependency-analysis.md
  dependency-analysis.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: consolidate ADR for dependency management simplification
  docs/adr/033-dependency-container-pattern.md
  docs/adr/033-dependency-management-simplification.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor: remove all helper wrapper functions
  docs/adr/033-dependency-management-simplification.md
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/helpers_test.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/send_input.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/session/storage/helpers.go
  internal/cli/commands/session/storage/list.go
  internal/cli/commands/session/storage/read.go
  internal/cli/commands/session/storage/remove.go
  internal/cli/commands/session/storage/write.go
  internal/cli/commands/workspace/cd.go
  internal/cli/commands/workspace/create.go
  internal/cli/commands/workspace/helpers.go
  internal/cli/commands/workspace/list.go
  internal/cli/commands/workspace/prune.go
  internal/cli/commands/workspace/remove.go
  internal/cli/commands/workspace/show.go
  internal/cli/commands/workspace/storage/helpers.go
  internal/cli/commands/workspace/storage/list.go
  internal/cli/commands/workspace/storage/read.go
  internal/cli/commands/workspace/storage/remove.go
  internal/cli/commands/workspace/storage/write.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: update ADR to mention removal of helper wrappers
  docs/adr/033-dependency-management-simplification.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: implement generic IDMapper for type-safe ID management
  docs/adr/033-dependency-management-simplification.md
  internal/cli/commands/session/list.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/stop.go
  internal/core/idmap/generic.go
  internal/core/session/factory.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/setup.go
  internal/core/session/tmux_session_test.go
  internal/core/tail/tail_test.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_reconcile_test.go
  internal/core/workspace/setup.go
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: pass agent environment variables to tmux sessions
  internal/cli/commands/session/run.go
  internal/core/config/manager.go
  internal/core/config/types.go
  internal/core/session/factory.go
  internal/core/session/manager.go
  internal/core/session/setup.go
  internal/core/session/tmux_session.go
  internal/mcp/server.go
  internal/mcp/session_tools.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove agent package as functionality moved to config
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add development principles for clean architecture
  docs/development-principles.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor: move agent handling from CLI to session manager
  docs/development-principles.md
  internal/cli/commands/session/run.go
  internal/core/session/manager.go
  internal/core/session/types.go
  internal/mcp/test_helpers.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: add Interface Parity Principle for CLI/MCP consistency
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: translate Interface Parity Principle to English with clarification
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: achieve Interface Parity between CLI and MCP (#223)
  internal/cli/commands/session/hooks.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/session/storage/storage_test.go
  internal/cli/commands/workspace/create.go
  internal/cli/commands/workspace/hooks.go
  internal/cli/commands/workspace/remove.go
  internal/cli/commands/workspace/storage/storage_test.go
  internal/cli/commands/workspace/workspace_test.go
  internal/core/hooks/executor.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/test_helpers.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/tail/tail_test.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_reconcile_test.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
  internal/mcp/server.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: pass context parameter through hook execution chain
  internal/core/hooks/executor.go
  internal/core/hooks/executor_test.go
  internal/core/session/manager.go
  internal/core/workspace/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: update Interface Parity status to reflect completed work
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint
