Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

remove-trailing-spaces:
  run: perl -i -pe 's/[ \t]+$//' {staged_files}
  stage_fixed: true
  priority: 1

ensure-newline-eof:
  run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
  stage_fixed: true
  priority: 2

golangci-fmt:
  run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
  stage_fixed: true

vet:
  run: go vet ./...

test:
  run: go test -short ./...

mod-tidy:
  run: go mod tidy
  stage_fixed: true

markdown-lint:
  run: npx --no-install markdownlint-cli2 {staged_files}

yamlfmt:
  run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
  stage_fixed: true

feat: implement session state machine
  internal/core/session/state/README.md
  internal/core/session/state/errors.go
  internal/core/session/state/manager.go
  internal/core/session/state/manager_test.go
  internal/core/session/state/status.go
  internal/core/session/state/status_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: implement session state machine package
  internal/core/session/state/errors.go
  internal/core/session/state/manager.go
  internal/core/session/state/manager_test.go
  internal/core/session/state/status.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: prevent infinite recursion in state transition validation
  internal/core/session/state/status.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove ambiguous activity tracking from state package
  internal/core/session/state/manager.go
  internal/core/session/state/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR for session state machine implementation
  docs/adr/031-session-state-machine.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: fix factual errors in ADR and README
  docs/adr/031-session-state-machine.md
  internal/core/session/state/README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: implement session state machine (#206)
  docs/adr/031-session-state-machine.md
  internal/core/session/state/README.md
  internal/core/session/state/errors.go
  internal/core/session/state/manager.go
  internal/core/session/state/manager_test.go
  internal/core/session/state/status.go
  internal/core/session/state/status_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: integrate state machine into session management
  docs/state-integration-plan.md
  internal/cli/commands/session/list.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

chore: remove planning document from docs directory
  docs/state-integration-plan.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: clarify purpose of docs directory in repository memory
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor: rename NewTmuxSession to CreateTmuxSession with context
  CLAUDE.md
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: remove StoragePath backward compatibility hack
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: make StoragePath required and fix all tests
  internal/core/session/failure_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove ALL backward compatibility code
  internal/cli/commands/session/list.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: replace panic with error return for StoragePath validation
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: use temporary workaround for logger in state manager
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: eliminate duplicate Status type in favor of state.Status
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: embed state.Manager and use it as value type
  internal/core/session/failure_test.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/state/manager.go
  internal/core/session/state/manager_test.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: move stateDir initialization to Manager level
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: replace StatusState with ActivityTracking
  internal/cli/commands/session/list.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/migration.go
  internal/core/session/mock_test.go
  internal/core/session/orphaned_session.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: remove context.Background() usage in SendInput method
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: handle activity tracking persistence without context.Background()
  internal/cli/commands/session/send_input.go
  internal/core/session/tmux_session.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: integrate state machine into session management (#207)
  CLAUDE.md
  internal/cli/commands/session/list.go
  internal/cli/commands/session/send_input.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/migration.go
  internal/core/session/mock_test.go
  internal/core/session/orphaned_session.go
  internal/core/session/state/manager.go
  internal/core/session/state/manager_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: migrate from custom logger wrapper to direct slog usage (#208)
  internal/cli/commands/logger.go
  internal/cli/commands/root.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/helpers.go
  internal/core/logger/logger.go
  internal/core/logger/logger_test.go
  internal/core/logger/options.go
  internal/core/session/manager.go
  internal/core/session/orphaned_session.go
  internal/core/session/tmux_session.go
  internal/core/tail/tail_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add context parameter to TerminalSession.SendInput interface (#209)
  internal/cli/commands/session/send_input.go
  internal/core/session/mock_test.go
  internal/core/session/orphaned_session.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
  internal/mcp/session_tools.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: migrate from custom logger wrapper to direct slog usage (#208) (#211)
  internal/cli/commands/logger.go
  internal/cli/commands/root.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/helpers.go
  internal/core/logger/logger.go
  internal/core/logger/logger_test.go
  internal/core/logger/options.go
  internal/core/session/manager.go
  internal/core/session/orphaned_session.go
  internal/core/session/tmux_session.go
  internal/core/tail/tail_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add context parameter to TerminalSession.SendInput interface (#209) (#212)
  internal/cli/commands/session/send_input.go
  internal/core/session/mock_test.go
  internal/core/session/orphaned_session.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
  internal/mcp/session_tools.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: use global slog instead of undefined logger field in tmux_session.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: use git describe for version in release workflow
  .github/workflows/release.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: resolve CI failures on main branch
  .github/workflows/release.yml
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, yamlfmt

fix: resolve CI failures on main branch (#215)
  .github/workflows/release.yml
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, yamlfmt

fix: prevent agent name from being executed as command in tmux session
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: address code review feedback
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: fall back to shell when no command is configured
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: use constant for default shell
  internal/core/agent/manager.go
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: add DefaultAgentID constant
  internal/core/agent/manager.go
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add TODO comments for issue #218
  internal/core/agent/manager.go
  internal/core/config/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: prevent agent name from being executed as command in tmux session (#217)
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/config/types.go
  internal/core/session/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: remove --auto-attach flag from amux run command (#202)
  docs-site/docs/reference/commands.md
  internal/cli/commands/session/run.go
  internal/cli/commands/session/session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: remove --auto-attach flag from amux run command (#202) (#216)
  docs-site/docs/reference/commands.md
  internal/cli/commands/session/run.go
  internal/cli/commands/session/session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

Path conditions:
  remove-trailing-spaces: any of: *.{go,md,yml,yaml,txt,json,toml,mod,sum}
  ensure-newline-eof: any of: *.{go,md,yml,yaml,txt,json,toml,mod,sum}
  golangci-fmt: any of: *.go
  vet: any of: *.go
  test: any of: *.go
  mod-tidy: any of: go.mod
  markdown-lint: any of: *.md
  yamlfmt: any of: *.{yaml,yml}
