Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: fmt, vet, test, mod-tidy, markdown-lint

fmt:
  run: go fmt ./...

vet:
  run: go vet ./...

test:
  run: go test -short ./...

mod-tidy:
  run: go mod tidy && git add go.mod go.sum

markdown-lint:
  run: npx --no-install markdownlint-cli $(git diff --cached --name-only --diff-filter=ACM | grep '\.md$' || true)

fix: resolve markdown linting issues
  README.md
  internal/templates/background.md
  internal/templates/instructions.md
  internal/templates/plan.md
  internal/templates/results-summary.md
  internal/templates/working-log.md
Due: markdown-lint

chore: switch from markdownlint-cli to markdownlint-cli2
  .markdownlint-cli2.yaml
  .markdownlint.json
  lefthook.yml
  package.json
Due: none

chore: remove redundant commitlint.config.js
  commitlint.config.js
Due: none

feat: add goimports for better import organization
  cmd/agentcave/main.go
  internal/cli/commands/init.go
  internal/cli/commands/root.go
  internal/cli/commands/serve.go
  internal/cli/commands/workspace.go
  internal/cli/ui/colors.go
  internal/cli/ui/output.go
  internal/core/config/manager.go
  internal/core/config/types.go
  internal/core/git/operations.go
  internal/core/git/types.go
  internal/core/workspace/manager.go
  internal/core/workspace/types.go
  internal/mcp/json.go
  internal/mcp/server.go
  internal/templates/templates.go
  justfile
  lefthook.yml
Due: fmt, vet, test

feat: use Go 1.24 tool directive for development tools
  .golangci.yml
  go.mod
  go.sum
  justfile
  lefthook.yml
Due: mod-tidy

feat(workspace): add support for creating workspaces from existing branches
  .gitignore
  README.md
  internal/cli/commands/workspace.go
  internal/core/git/operations.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
  internal/mcp/server.go
  internal/tests/helpers/repo.go
Due: fmt, vet, test, markdown-lint

build: add yamlfmt for YAML linting and formatting
  .golangci.yml
  .markdownlint-cli2.yaml
  .yamlfmt
  README.md
  go.mod
  go.sum
  justfile
  lefthook.yml
Due: mod-tidy, markdown-lint

refactor(mcp): migrate from custom MCP to official mcp-go library
  go.mod
  go.sum
  internal/cli/commands/serve.go
  internal/mcp/json.go
  internal/mcp/server.go
Due: fmt, vet, test, mod-tidy

feat(mcp): add schema utilities for type-safe tool definitions
  examples/schema-demo.go
  internal/mcp/README.md
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/mcp/server.go
Due: fmt, vet, test, markdown-lint

build: enhance lefthook configuration with formatting tools
  lefthook.yml
Due: none

refactor: remove activate/deactivate functionality for simplicity
  internal/cli/commands/workspace.go
  internal/cli/ui/colors.go
  internal/cli/ui/output.go
  internal/core/workspace/manager.go
  internal/core/workspace/types.go
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/mcp/server.go
Due: fmt, vet, test

feat: support workspace lookup by name in addition to ID
  internal/cli/commands/workspace.go
  internal/core/workspace/manager.go
  internal/mcp/schema.go
  internal/mcp/server.go
Due: fmt, vet, test

feat(cli): add --oneline flag to workspace list for fzf integration
  internal/cli/commands/workspace.go
Due: fmt, vet, test

refactor: add command aliases and rename serve to mcp
  internal/cli/commands/mcp.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
Due: fmt, vet, test

refactor: rename MCP tools to use workspace terminology
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/mcp/server.go
Due: fmt, vet, test

docs: add documentation and fix MCP naming consistency
  .gitignore
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  lefthook.yml
Due: markdown-lint

docs: establish ADR process and archive memory system
  .claude/archive/README.md
  .claude/archive/TEMPLATE.md
  .gitignore
  CLAUDE.md
  README.md
  docs/adr/001-record-architecture-decisions.md
  docs/adr/002-cave-terminology.md
  docs/adr/003-agent-multiplexing-architecture.md
  docs/adr/README.md
Due: markdown-lint

docs: add ADRs for Amux naming and command structure
  CLAUDE.md
  docs/adr/004-rename-to-amux.md
  docs/adr/005-command-structure.md
Due: markdown-lint

feat: rename project from AgentCave to Amux and implement command structure
  .claude/planning/README.md
  .gitignore
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  cmd/amux/main.go
  examples/schema-demo.go
  examples/test-mcp.sh
  go.mod
  internal/cli/commands/agent.go
  internal/cli/commands/init.go
  internal/cli/commands/mcp.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/config/manager.go
  internal/core/config/types.go
  internal/core/git/operations.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/mcp/server.go
  internal/templates/instructions.md
  internal/templates/templates.go
  internal/tests/helpers/repo.go
  justfile
  lefthook.yml
  package.json
  scripts/setup-go.sh
Due: fmt, vet, test, mod-tidy, markdown-lint

feat: implement agent multiplexing (ADR-003)
  CLAUDE.md
  README.md
  docs/agent-multiplexing.md
  docs/architecture.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/adapter_test.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/agent.go
  internal/cli/commands/agent_config.go
  internal/cli/commands/context.go
  internal/cli/commands/root.go
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/config/types.go
  internal/core/context/manager.go
  internal/core/context/manager_test.go
  internal/core/session/errors.go
  internal/core/session/index.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/store.go
  internal/core/session/test_helpers.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/test/integration_test.go
Due: fmt, vet, test, markdown-lint

docs: enhance README with stronger tagline and focused features
  README.md
Due: markdown-lint

chore: remove development-only files from git tracking
  .claude/archive/README.md
  .claude/archive/TEMPLATE.md
  .claude/planning/README.md
  .gitignore
  docs/agent-multiplexing.md
  examples/schema-demo.go
  examples/test-mcp.sh
Due: fmt, vet, test, markdown-lint

feat: implement short sequential IDs for workspaces and sessions
  internal/cli/commands/agent.go
  internal/cli/commands/helpers.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/common/idmap.go
  internal/core/common/shortid.go
  internal/core/common/shortid_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/core/workspace/types.go
  internal/test/integration_test.go
Due: fmt, vet, test

refactor: implement proper IndexManager architecture
  docs/adr/006-short-hand-indices.md
  internal/cli/commands/agent.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/common/idmap.go
  internal/core/common/shortid.go
  internal/core/common/shortid_test.go
  internal/core/index/manager.go
  internal/core/index/manager_test.go
  internal/core/index/types.go
  internal/core/session/manager.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/core/workspace/types.go
Due: fmt, vet, test, markdown-lint

feat: add file locking to IndexManager for cross-process safety
  go.mod
  internal/core/index/manager.go
  internal/core/index/manager_concurrent_test.go
Due: fmt, vet, test, mod-tidy

refactor: improve IndexManager file organization and fix synchronization
  docs/adr/006-short-hand-indices.md
  internal/core/index/manager.go
Due: fmt, vet, test, markdown-lint

feat: implement short sequential IDs for workspaces and sessions (#14)
  docs/adr/006-short-hand-indices.md
  go.mod
  internal/cli/commands/agent.go
  internal/cli/commands/helpers.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/common/idmap.go
  internal/core/index/manager.go
  internal/core/index/manager_concurrent_test.go
  internal/core/index/manager_test.go
  internal/core/index/types.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/core/workspace/types.go
  internal/test/integration_test.go
Due: fmt, vet, test, mod-tidy, markdown-lint

feat: implement table formatting for list commands
  go.mod
  go.sum
  internal/cli/commands/agent.go
  internal/cli/ui/colors.go
  internal/cli/ui/output.go
  internal/cli/ui/table.go
Due: fmt, vet, test, mod-tidy

docs(adr): add ADR-007 for table library selection
  docs/adr/007-table-library-selection.md
Due: markdown-lint

fix: display Index in workspace list table
  internal/cli/ui/output.go
Due: fmt, vet, test

fix: run pre-commit hooks sequentially to avoid git lock conflicts
  docs/adr/007-table-library-selection.md
  lefthook.yml
Due: markdown-lint

feat: implement table formatting for list commands (#15)
  docs/adr/007-table-library-selection.md
  go.mod
  go.sum
  internal/cli/commands/agent.go
  internal/cli/ui/colors.go
  internal/cli/ui/output.go
  internal/cli/ui/table.go
  lefthook.yml
Due: fmt, vet, test, mod-tidy, markdown-lint

feat(ci): add GitHub Actions CI/CD pipeline
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  LICENSE
  README.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/agent.go
  internal/cli/commands/version.go
  internal/cli/ui/output.go
  internal/core/agent/manager.go
  internal/core/session/index.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/mcp/server.go
  justfile
Due: fmt, vet, test, markdown-lint

fix: resolve linting issues for CI
  internal/cli/commands/helpers.go
  internal/core/index/manager.go
  internal/core/session/manager.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
Due: fmt, vet, test

fix: use existing markdownlint-cli2.yaml config
  .github/workflows/ci.yml
Due: none

fix: resolve markdown linting issues
  README.md
  docs/adr/006-short-hand-indices.md
  docs/adr/007-table-library-selection.md
  docs/agent-multiplexing.md
  docs/architecture.md
Due: markdown-lint

chore: remove redundant gofmt check from CI
  .github/workflows/ci.yml
Due: none

refactor(session): rename types to follow Go conventions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  LICENSE
  internal/cli/commands/agent.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/store.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/test/integration_test.go
Due: fmt, vet, test

feat(ci): run build job only on main branch pushes
  .github/workflows/ci.yml
Due: none

fix(ci): install just command runner in CI environment
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  fmt: any of: *.go
  vet: any of: *.go
  test: any of: *.go
  mod-tidy: any of: go.mod
  markdown-lint: any of: *.md
