Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

remove-trailing-spaces:
  run: perl -i -pe 's/[ \t]+$//' {staged_files}
  stage_fixed: true
  priority: 1

ensure-newline-eof:
  run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
  stage_fixed: true
  priority: 2

golangci-fmt:
  run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
  stage_fixed: true

vet:
  run: go vet ./...

test:
  run: go test -short ./...

mod-tidy:
  run: go mod tidy
  stage_fixed: true

markdown-lint:
  run: npx --no-install markdownlint-cli2 {staged_files}

yamlfmt:
  run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
  stage_fixed: true

refactor: rename 'ws get' to 'ws show' for better CLI semantics
  CLAUDE.md
  README.md
  internal/cli/commands/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: standardize console output and eliminate direct fmt.Print* usage
  internal/cli/commands/agent.go
  internal/cli/commands/agent_config.go
  internal/cli/commands/context.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/version.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/cli/ui/table.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: standardize console output and eliminate direct fmt.Print* usage (#62)
  internal/cli/commands/agent.go
  internal/cli/commands/agent_config.go
  internal/cli/commands/context.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/version.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/cli/ui/table.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat(mcp): implement bridge tools for MCP resources and prompts access (#63)
  docs/mcp.md
  internal/mcp/bridge_tools.go
  internal/mcp/bridge_tools_test.go
  internal/mcp/resource_templates.go
  internal/mcp/resources.go
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: add ADR-010 for MCP bridge tools pattern
  docs/adr/010-mcp-bridge-tools.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: update workspace cleanup workflow to include main branch sync
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: update workspace cleanup workflow to include main branch sync (#66)
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: apply markdown formatting to ADR-010
  docs/adr/010-mcp-bridge-tools.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor: rename 'ws get' to 'ws show' for better CLI semantics (#67)
  CLAUDE.md
  README.md
  internal/cli/commands/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat(mcp): implement bridge tools for MCP resources and prompts access (#63) (#65)
  docs/adr/010-mcp-bridge-tools.md
  docs/mcp.md
  internal/mcp/bridge_tools.go
  internal/mcp/bridge_tools_test.go
  internal/mcp/resource_templates.go
  internal/mcp/resources.go
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor: rename common package to idmap for better clarity (#55)
  internal/cli/commands/agent.go
  internal/cli/commands/helpers.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/core/idmap/idmap.go
  internal/core/session/manager.go
  internal/core/workspace/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: rename common package to idmap for better clarity (#55) (#68)
  internal/cli/commands/agent.go
  internal/cli/commands/helpers.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/core/idmap/idmap.go
  internal/core/session/manager.go
  internal/core/workspace/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: rename CaveIcon to WorkspaceIcon and update icon choices (#27)
  internal/cli/ui/colors.go
  internal/cli/ui/output.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: rename CaveIcon to WorkspaceIcon and update icon choices (#27) (#71)
  internal/cli/ui/colors.go
  internal/cli/ui/output.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: rename MCP bridge tool 'resource_workspace_get' to 'resource_workspace_show' (#69)
  docs/mcp.md
  internal/mcp/bridge_tools.go
  internal/mcp/bridge_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor: rename MCP bridge tool 'resource_workspace_get' to 'resource_workspace_show' (#69) (#70)
  docs/mcp.md
  internal/mcp/bridge_tools.go
  internal/mcp/bridge_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: update CLAUDE.md to fix outdated MCP tool references
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: remove .amux folder from workspaces entirely (#39)
  CLAUDE.md
  README.md
  docs/agent-multiplexing.md
  docs/architecture.md
  internal/cli/commands/context.go
  internal/core/context/manager.go
  internal/core/context/manager_test.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/mcp/bridge_tools.go
  internal/mcp/resource_templates.go
  internal/mcp/resource_templates_test.go
  internal/templates/background.md
  internal/templates/instructions.md
  internal/templates/plan.md
  internal/templates/results-summary.md
  internal/templates/templates.go
  internal/templates/working-log.md
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: establish documentation structure and extract design decisions (#57)
  README.md
  docs/README.md
  docs/adr/010-documentation-structure.md
  docs/adr/011-git-worktrees-for-workspace-isolation.md
  docs/adr/012-tmux-for-session-management.md
  docs/adr/013-yaml-for-configuration.md
  docs/adr/014-file-based-session-store.md
  docs/adr/README.md
  docs/architecture.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: update CLAUDE.md to fix outdated MCP tool references (#75)
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: establish documentation structure and extract design decisions (#57) (#74)
  README.md
  docs/README.md
  docs/adr/010-documentation-structure.md
  docs/adr/011-git-worktrees-for-workspace-isolation.md
  docs/adr/012-tmux-for-session-management.md
  docs/adr/013-yaml-for-configuration.md
  docs/adr/014-file-based-session-store.md
  docs/adr/README.md
  docs/architecture.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat(workspace): reorganize workspace directory structure per ADR-009 (#76)
  CLAUDE.md
  docs/architecture.md
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat(workspace): reorganize workspace directory structure per ADR-009 (#76) (#78)
  CLAUDE.md
  docs/architecture.md
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: add workspace context file support (#77)
  internal/cli/ui/output.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
  internal/mcp/bridge_tools.go
  internal/mcp/resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add workspace context file support (#77) (#79)
  internal/cli/ui/output.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
  internal/mcp/bridge_tools.go
  internal/mcp/resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: fix ADR numbering and add workspace reorganization ADR
  docs/adr/011-documentation-structure.md
  docs/adr/012-git-worktrees-for-workspace-isolation.md
  docs/adr/013-tmux-for-session-management.md
  docs/adr/014-yaml-for-configuration.md
  docs/adr/015-file-based-session-store.md
  docs/adr/016-workspace-directory-reorganization.md
  docs/adr/README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: fix ADR numbering and add workspace reorganization ADR (#80)
  docs/adr/011-documentation-structure.md
  docs/adr/012-git-worktrees-for-workspace-isolation.md
  docs/adr/013-tmux-for-session-management.md
  docs/adr/014-yaml-for-configuration.md
  docs/adr/015-file-based-session-store.md
  docs/adr/016-workspace-directory-reorganization.md
  docs/adr/README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: separate CLAUDE.md into project rules and personal workflow
  .gitignore
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: add CLAUDE.local.md.example to guide personal configuration
  CLAUDE.local.md.example
Due: none

docs: separate CLAUDE.md into project rules and personal workflow (#81)
  .gitignore
  CLAUDE.local.md.example
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: add v0.1.0 release status clarification to README
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: add v0.1.0 release status clarification to README (#82)
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: exclude .amux directory from all linting and formatting checks
  .golangci.yml
  .yamlfmt
  justfile
  package.json
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: prevent workspace deletion when in use (#61)
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: exclude .amux directory from all linting and formatting checks (#83)
  .golangci.yml
  .yamlfmt
  justfile
  package.json
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

refactor: simplify workspace removal check by removing symlink resolution
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: add minimal symlink handling for OS-level paths
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: prevent workspace deletion when in use (#61) (#85)
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add --format option for structured output (json, pretty)
  internal/cli/commands/root.go
  internal/cli/commands/version.go
  internal/cli/commands/workspace.go
  internal/cli/ui/formatter.go
  internal/cli/ui/formatter_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: update PR guidelines to exclude issue refs from titles
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

Path conditions:
  remove-trailing-spaces: any of: *.{go,md,yml,yaml,txt,json,toml,mod,sum}
  ensure-newline-eof: any of: *.{go,md,yml,yaml,txt,json,toml,mod,sum}
  golangci-fmt: any of: *.go
  vet: any of: *.go
  test: any of: *.go
  mod-tidy: any of: go.mod
  markdown-lint: any of: *.md
  yamlfmt: any of: *.{yaml,yml}
