Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

lefthook.yml:

# Lefthook configuration for Amux
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: false
  commands:
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 1
    ensure-newline-eof:
      run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 2
    golangci-fmt:
      run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
      glob: "*.go"
      stage_fixed: true
    vet:
      run: go vet ./...
      glob: "*.go"
    test:
      run: go test -short ./...
      glob: "*.go"
    mod-tidy:
      run: go mod tidy
      glob: "go.mod"
      stage_fixed: true
    markdown-lint:
      run: npx --no-install markdownlint-cli2 {staged_files}
      glob: "*.md"
    yamlfmt:
      run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
      glob: "*.{yaml,yml}"
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    test-full:
      run: go test ./...
    build:
      run: go build -o bin/amux cmd/amux/main.go
commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit $1

fix: standardize MCP tool parameter names to use _identifier suffix (#144)
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools.go
  internal/mcp/workspace_bridge_tools.go
  internal/mcp/workspace_bridge_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: prepare session interface for multiple backend types
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/send_input.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
  internal/core/tail/tail.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: apply code formatting
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: prepare session interface for multiple backend types (#145)
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/send_input.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
  internal/core/tail/tail.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement file-based locking with CAS for concurrent access safety (#142)
  internal/core/session/store.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/filemanager/filemanager.go
  internal/filemanager/filemanager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: use OpenFile instead of Open for sync on Windows
  internal/filemanager/filemanager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: implement Windows-specific atomic rename to handle access denied errors
  internal/filemanager/filemanager.go
  internal/filemanager/rename_unix.go
  internal/filemanager/rename_windows.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove FileStore and use FileManager directly in session package
  internal/cli/commands/session/helpers.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/store.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/tail/tail_test.go
  internal/mcp/session_resources.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: improve Windows file operations in FileManager
  internal/cli/commands/session/remove_test.go
  internal/core/session/manager.go
  internal/filemanager/filemanager.go
  internal/filemanager/rename_windows.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add context parameter to FileManager API
  internal/core/session/manager.go
  internal/core/workspace/manager.go
  internal/filemanager/filemanager.go
  internal/filemanager/filemanager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: propagate context through workspace and session managers
  internal/cli/commands/context.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/helpers_test.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/send_input.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace_test.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/tail/tail_test.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/mcp/bridge_tools.go
  internal/mcp/prompts.go
  internal/mcp/prompts_test.go
  internal/mcp/resource_templates.go
  internal/mcp/resource_templates_test.go
  internal/mcp/resources.go
  internal/mcp/resources_test.go
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_resources_test.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools.go
  internal/mcp/workspace_bridge_tools.go
  internal/mcp/workspace_bridge_tools_test.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: release file lock before atomic rename to fix Windows access denied errors
  internal/filemanager/filemanager.go
  internal/filemanager/rename_windows.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: ignore lock.Unlock error return to satisfy errcheck linter
  internal/filemanager/filemanager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: use separate lock files on Windows to avoid rename conflicts
  internal/filemanager/filemanager.go
  internal/filemanager/lock_unix.go
  internal/filemanager/lock_windows.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: move getLockPath to Windows-specific file to fix unused lint error
  internal/filemanager/filemanager.go
  internal/filemanager/lock_windows.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: add retry logic for Windows file operations to handle sharing violations
  internal/filemanager/filemanager.go
  internal/filemanager/fileops_unix.go
  internal/filemanager/fileops_windows.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR-023 for JSON Schema validation decision
  docs/adr/023-json-schema-validation.md
  internal/cli/commands/config_validate.go
  internal/core/config/schema_validation_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: refactor agent configuration to support multiple session types (#148)
  README.md
  docs/agent-multiplexing.md
  internal/cli/commands/agent/list.go
  internal/cli/commands/agent/show.go
  internal/cli/commands/config.go
  internal/cli/commands/config_show.go
  internal/cli/commands/config_test.go
  internal/cli/commands/config_validate.go
  internal/cli/commands/config_validate_test.go
  internal/cli/commands/session/run.go
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/config/manager.go
  internal/core/config/types.go
  internal/core/config/validation.go
  internal/core/config/validation_test.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: replace custom validation with JSON Schema validation
  README.md
  docs/agent-multiplexing.md
  go.mod
  go.sum
  internal/core/agent/manager_test.go
  internal/core/config/manager.go
  internal/core/config/schema_validation.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/validation.go
  internal/core/config/validation_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint

refactor: rename agent options field to params
  internal/cli/commands/agent/list.go
  internal/cli/commands/agent/show.go
  internal/cli/commands/config_show.go
  internal/cli/commands/config_test.go
  internal/cli/commands/config_validate.go
  internal/cli/commands/config_validate_test.go
  internal/cli/commands/session/run.go
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: update ADR-023 to reflect params field naming
  docs/adr/023-json-schema-validation.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: markdown formatting in ADR-023
  docs/adr/023-json-schema-validation.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: agent configuration refactoring with JSON Schema validation (#149)
  README.md
  docs/adr/023-json-schema-validation.md
  docs/agent-multiplexing.md
  go.mod
  go.sum
  internal/cli/commands/agent/list.go
  internal/cli/commands/agent/show.go
  internal/cli/commands/config.go
  internal/cli/commands/config_show.go
  internal/cli/commands/config_test.go
  internal/cli/commands/config_validate.go
  internal/cli/commands/config_validate_test.go
  internal/cli/commands/session/run.go
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/config/manager.go
  internal/core/config/schema_validation.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint

fix: change --root-dir flag to --git-root in mcp command
  CLAUDE.local.md.example
  CLAUDE.md
  internal/cli/commands/mcp.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: change --root-dir flag to --git-root in mcp command (#153)
  CLAUDE.local.md.example
  CLAUDE.md
  internal/cli/commands/mcp.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: improve error messages with tool suggestions
  internal/mcp/error_helpers.go
  internal/mcp/error_helpers_test.go
  internal/mcp/server.go
  internal/mcp/session_tools.go
  internal/mcp/storage_tools.go
  internal/mcp/workspace_bridge_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add tool chaining hints to MCP response metadata
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources_test.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools.go
  internal/mcp/tool_result_helpers.go
  internal/mcp/workspace_bridge_tools.go
  internal/mcp/workspace_bridge_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR for MCP tool discoverability improvements
  docs/adr/024-mcp-tool-discoverability.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: enhance MCP tool discoverability for AI agents
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_tools.go
  internal/mcp/storage_tools.go
  internal/mcp/tool_descriptions.go
  internal/mcp/workspace_bridge_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

style: fix markdown formatting in ADR
  docs/adr/024-mcp-tool-discoverability.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: improve MCP tool discoverability for AI agents (#151)
  internal/mcp/server.go
  internal/mcp/storage_tools.go
  internal/mcp/tool_descriptions.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove unused InferredParameters field from metadata
  internal/mcp/tool_result_helpers.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add expected results to tool examples for better AI understanding
  internal/mcp/tool_descriptions.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: update ADR to reflect examples with expected results
  docs/adr/024-mcp-tool-discoverability.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: improve MCP tool discoverability for AI agents (#151) (#152)
  docs/adr/024-mcp-tool-discoverability.md
  internal/mcp/error_helpers.go
  internal/mcp/error_helpers_test.go
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources_test.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools.go
  internal/mcp/tool_descriptions.go
  internal/mcp/tool_result_helpers.go
  internal/mcp/workspace_bridge_tools.go
  internal/mcp/workspace_bridge_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: remove deprecated ws context command
  README.md
  docs/agent-multiplexing.md
  internal/cli/commands/config.go
  internal/cli/commands/context.go
  internal/core/context/manager.go
  internal/core/context/manager_test.go
  internal/core/session/tmux_session.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: remove deprecated ws context command (#154)
  README.md
  docs/agent-multiplexing.md
  internal/cli/commands/config.go
  internal/cli/commands/context.go
  internal/core/context/manager.go
  internal/core/context/manager_test.go
  internal/core/session/tmux_session.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor: remove redundant agent command in favor of config command
  README.md
  docs/adr/025-remove-agent-command.md
  internal/cli/commands/agent/agent.go
  internal/cli/commands/agent/list.go
  internal/cli/commands/agent/show.go
  internal/cli/commands/root.go
  internal/cli/commands/session/send_input_test.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

chore: remove deprecated template files
  internal/templates/background.md
  internal/templates/instructions.md
  internal/templates/plan.md
  internal/templates/results-summary.md
  internal/templates/templates.go
  internal/templates/working-log.md
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint
