Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

lefthook.yml:

# Lefthook configuration for Amux
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: false
  commands:
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 1
    ensure-newline-eof:
      run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 2
    golangci-fmt:
      run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
      glob: "*.go"
      stage_fixed: true
    vet:
      run: go vet ./...
      glob: "*.go"
    test:
      run: go test -short ./...
      glob: "*.go"
    mod-tidy:
      run: go mod tidy
      glob: "go.mod"
      stage_fixed: true
    markdown-lint:
      run: npx --no-install markdownlint-cli2 {staged_files}
      glob: "*.md"
    yamlfmt:
      run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
      glob: "*.{yaml,yml}"
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    test-full:
      run: go test ./...
    build:
      run: go build -o bin/amux cmd/amux/main.go
commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit $1

feat: use success icons for operation result headers
  docs/cli-output-guidelines.md
  internal/cli/commands/init.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/run.go
  internal/cli/commands/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: standardize CLI output design (#185)
  docs/cli-output-guidelines.md
  internal/cli/commands/config_validate.go
  internal/cli/commands/hooks.go
  internal/cli/commands/init.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/hooks.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/send_input.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/workspace.go
  internal/core/hooks/executor.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: implement explicit state for missing workspaces instead of nil checks
  internal/cli/commands/session/list.go
  internal/core/session/errors.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: reorganize CLI commands into subdirectory structure (#183)
  internal/cli/commands/config/config.go
  internal/cli/commands/config/config_edit.go
  internal/cli/commands/config/config_show.go
  internal/cli/commands/config/config_test.go
  internal/cli/commands/config/config_validate.go
  internal/cli/commands/config/config_validate_test.go
  internal/cli/commands/hooks.go
  internal/cli/commands/hooks/hooks.go
  internal/cli/commands/hooks/init.go
  internal/cli/commands/hooks/list.go
  internal/cli/commands/hooks/test.go
  internal/cli/commands/hooks/trust.go
  internal/cli/commands/init.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace/cd.go
  internal/cli/commands/workspace/create.go
  internal/cli/commands/workspace/helpers.go
  internal/cli/commands/workspace/hooks.go
  internal/cli/commands/workspace/list.go
  internal/cli/commands/workspace/prune.go
  internal/cli/commands/workspace/remove.go
  internal/cli/commands/workspace/show.go
  internal/cli/commands/workspace/workspace.go
  internal/cli/commands/workspace/workspace_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: reorganize CLI commands into subdirectory structure (#183) (#189)
  internal/cli/commands/config/config.go
  internal/cli/commands/config/config_edit.go
  internal/cli/commands/config/config_show.go
  internal/cli/commands/config/config_test.go
  internal/cli/commands/config/config_validate.go
  internal/cli/commands/config/config_validate_test.go
  internal/cli/commands/hooks.go
  internal/cli/commands/hooks/hooks.go
  internal/cli/commands/hooks/init.go
  internal/cli/commands/hooks/list.go
  internal/cli/commands/hooks/test.go
  internal/cli/commands/hooks/trust.go
  internal/cli/commands/init.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace/cd.go
  internal/cli/commands/workspace/create.go
  internal/cli/commands/workspace/helpers.go
  internal/cli/commands/workspace/hooks.go
  internal/cli/commands/workspace/list.go
  internal/cli/commands/workspace/prune.go
  internal/cli/commands/workspace/remove.go
  internal/cli/commands/workspace/show.go
  internal/cli/commands/workspace/workspace.go
  internal/cli/commands/workspace/workspace_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add StatusOrphaned for sessions with deleted workspaces
  internal/cli/commands/session/list.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add StatusOrphaned for sessions with deleted workspaces (#192)
  internal/cli/commands/session/list.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: redesign workspace branch options for clarity
  internal/cli/commands/workspace/create.go
  internal/cli/commands/workspace/workspace.go
  internal/core/git/operations.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR for explicit branch operations
  docs/adr/029-explicit-branch-operations.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor: replace CreateNew/UseExisting with BranchMode enum
  docs/adr/029-explicit-branch-operations.md
  internal/cli/commands/workspace/create.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: redesign workspace branch options for clarity (#194)
  docs/adr/029-explicit-branch-operations.md
  internal/cli/commands/workspace/create.go
  internal/cli/commands/workspace/workspace.go
  internal/core/git/operations.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: add automatic index reconciliation to sync state.yaml with actual entities
  internal/core/idmap/idmap.go
  internal/core/index/manager.go
  internal/core/index/manager_test.go
  internal/core/session/manager.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_reconcile_test.go
  internal/mcp/server.go
  internal/mcp/session_resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR for automatic index reconciliation
  docs/adr/030-automatic-index-reconciliation.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: suppress false positive contextcheck linter warnings
  docs/adr/030-automatic-index-reconciliation.md
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/mcp/storage_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: add nolint comments to test files for contextcheck
  internal/mcp/session_resources_test.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove unnecessary session index reconciliation and nolint comments
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_resources_test.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/storage_tools.go
  internal/mcp/storage_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove MCP server startup reconciliation
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: update ADR 030 to reflect final implementation
  docs/adr/030-automatic-index-reconciliation.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor: remove backward compatibility for auto-generating indices
  internal/core/session/manager.go
  internal/core/workspace/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove reconciliation from individual Get operations
  internal/core/session/manager.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_reconcile_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add automatic index reconciliation (#195)
  docs/adr/030-automatic-index-reconciliation.md
  internal/core/idmap/idmap.go
  internal/core/index/manager.go
  internal/core/index/manager_test.go
  internal/core/session/manager.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_reconcile_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: implement workspace semaphore for multi-agent coordination (#86, #188)
  internal/cli/commands/workspace/list.go
  internal/cli/commands/workspace/remove.go
  internal/cli/commands/workspace/show.go
  internal/cli/commands/workspace/workspace.go
  internal/cli/ui/output.go
  internal/core/session/manager.go
  internal/core/session/manager_semaphore.go
  internal/core/session/tmux_session.go
  internal/core/session/workspace_integration.go
  internal/core/workspace/holder.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_semaphore.go
  internal/core/workspace/reconciler.go
  internal/core/workspace/reconciler_test.go
  internal/core/workspace/semaphore.go
  internal/core/workspace/semaphore_test.go
  internal/mcp/session_resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: resolve linter errors in semaphore implementation
  internal/cli/ui/output.go
  internal/core/session/manager.go
  internal/core/session/manager_semaphore.go
  internal/core/session/workspace_integration.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: move semaphore holders to Workspace struct
  internal/cli/commands/workspace/list.go
  internal/cli/commands/workspace/show.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_semaphore.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: improve Windows compatibility for semaphore files
  internal/core/workspace/semaphore.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement blocking session type for long-running commands
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/run.go
  internal/core/config/types.go
  internal/core/session/blocking_session.go
  internal/core/session/circular_buffer.go
  internal/core/session/manager.go
  internal/core/session/types.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement blocking session type for long-running commands
  internal/core/session/blocking_session.go
  internal/core/session/environment.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: enable viewing output for non-file mode blocking sessions
  internal/cli/commands/config/config_validate.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/run.go
  internal/core/agent/manager.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
  internal/core/session/blocking_session.go
  internal/core/session/manager.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: improve output mode naming for better user understanding
  internal/core/session/blocking_session.go
  internal/core/session/manager.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: implement output retrieval for memory/streaming modes in MCP
  internal/core/config/types.go
  internal/core/session/manager.go
  internal/mcp/session_resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add --force flag to session rm command
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add --force flag to session rm command (#205)
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: rename StateMachine to Manager and move to dedicated package
  internal/cli/commands/session/list.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_semaphore.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/state/logger.go
  internal/core/session/state/manager.go
  internal/core/session/state/types.go
  internal/core/session/state_handlers.go
  internal/core/session/state_machine.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: merge workspace Status and Sessions columns for better UX
  docs/adr/031-session-state-management.md
  internal/cli/ui/output.go
  internal/mcp/bridge_tools.go
  internal/mcp/resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: complete simplified state model implementation
  docs/adr/031-session-state-management.md
  internal/cli/commands/session/list.go
  internal/core/session/failure_test.go
  internal/core/session/mock_test.go
  internal/core/session/state/manager.go
  internal/core/session/state/types.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: update ADR-031 to reflect final simplified state model
  docs/adr/031-session-state-management.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

WIP: comprehensive workspace semaphore and session state management
  internal/cli/commands/session/helpers.go
  internal/cli/commands/workspace/helpers.go
  internal/cli/commands/workspace/remove.go
  internal/core/semaphore/errors.go
  internal/core/semaphore/semaphore.go
  internal/core/semaphore/semaphore_test.go
  internal/core/session/manager.go
  internal/core/session/manager_semaphore.go
  internal/core/session/manager_test.go
  internal/core/session/state_handlers.go
  internal/core/session/workspace_integration.go
  internal/core/workspace/holder.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_semaphore.go
  internal/core/workspace/manager_semaphore_new.go
  internal/core/workspace/reconciler.go.old
  internal/core/workspace/semaphore.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test
