Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

lefthook.yml:

# Lefthook configuration for Amux
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: false
  commands:
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 1
    ensure-newline-eof:
      run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 2
    golangci-fmt:
      run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
      glob: "*.go"
      stage_fixed: true
    vet:
      run: go vet ./...
      glob: "*.go"
    test:
      run: go test -short ./...
      glob: "*.go"
    mod-tidy:
      run: go mod tidy
      glob: "go.mod"
      stage_fixed: true
    markdown-lint:
      run: npx --no-install markdownlint-cli2 {staged_files}
      glob: "*.md"
    yamlfmt:
      run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
      glob: "*.{yaml,yml}"
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    test-full:
      run: go test ./...
    build:
      run: go build -o bin/amux cmd/amux/main.go
commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit $1

refactor: rename agent commands to session commands for clarity (#104)
  docs/adr/018-agent-session-command-separation.md
  internal/cli/commands/agent/agent.go
  internal/cli/commands/agent/config.go
  internal/cli/commands/agent/list.go
  internal/cli/commands/agent/show.go
  internal/cli/commands/root.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/helpers_test.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/logs_test.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/session.go
  internal/cli/commands/session/stop.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: update work in progress warning to alpha release status (#110)
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: implement workspace event hooks (#45) (#103)
  internal/cli/commands/hooks.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/hooks/config.go
  internal/core/hooks/config_test.go
  internal/core/hooks/executor.go
  internal/core/hooks/executor_test.go
  internal/core/hooks/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add CHANGELOG.md and document release process (#11)
  CHANGELOG.md
  DEVELOPMENT.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: remove mock session implementation and require tmux adapter (#95)
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: remove mock session implementation and require tmux adapter (#95) (#114)
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add session remove command (#107)
  README.md
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: update command documentation from agent to session
  README.md
  docs/adr/006-short-hand-indices.md
  docs/agent-multiplexing.md
  docs/mcp.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: add session remove command (#115)
  README.md
  docs/adr/006-short-hand-indices.md
  docs/agent-multiplexing.md
  docs/mcp.md
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: add CHANGELOG.md and document release process (#11) (#117)
  CHANGELOG.md
  DEVELOPMENT.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: prepare infrastructure for Homebrew tap with repository-notify (#13)
  .github/workflows/update-homebrew-tap.yml
  README.md
  docs/homebrew-tap.md
  scripts/homebrew-tap/README.md
  scripts/homebrew-tap/amux.rb.template
  scripts/homebrew-tap/update-formula.sh
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint, yamlfmt

fix: add tmux skip logic to session tests for CI environments
  internal/cli/commands/session/remove_test.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: update install task in justfile
  justfile
Due: none

fix: update install task in justfile (#123)
  justfile
Due: none

fix: add tmux skip logic to session tests for CI environments (#122)
  internal/cli/commands/session/remove_test.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: auto-remove workspaces when removing sessions that created them (#113)
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/core/workspace/manager.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: address lint errors and test race condition
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: implement refresh mode for logs -f to handle AI agent output
  internal/core/tail/tail.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: change default refresh interval to 1 second
  internal/cli/commands/session/logs.go
  internal/core/tail/tail.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: simplify rendering and preserve colors in logs -f
  internal/adapters/tmux/adapter.go
  internal/core/tail/tail.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

perf: optimize logs -f for better performance and UX
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/session.go
  internal/core/tail/tail.go
  test_progress.sh
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: handle write errors in terminal control functions
  internal/core/tail/tail.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: preserve ANSI color codes in logs output
  internal/adapters/tmux/adapter.go
  internal/core/session/tmux_session.go
  internal/core/tail/tail.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: reuse terminal size detection logic
  internal/cli/commands/session/attach.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove unnecessary private getTerminalSize wrapper
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: recalculate terminal size when attaching to session (#116)
  internal/cli/commands/session/attach.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: move debug logging into GetTerminalSize function
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: move GetTerminalSize to dedicated terminal package
  internal/cli/commands/session/attach.go
  internal/core/session/tmux_session.go
  internal/core/terminal/terminal.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: remove debug logging from GetTerminalSize
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: auto-remove workspaces when removing sessions that created them (#119)
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/core/workspace/manager.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: recalculate terminal size when attaching to session (#116) (#118)
  internal/cli/commands/session/attach.go
  internal/core/session/tmux_session.go
  internal/core/terminal/terminal.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR-018 for log following refresh approach
  docs/adrs/018-log-following-refresh-approach.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

chore: fix trailing newline in ADR
  docs/adrs/018-log-following-refresh-approach.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor: remove tap setup scripts and use direct GitHub checkout
  .github/workflows/update-homebrew-tap.yml
  .gitignore
  docs/homebrew-tap.md
  scripts/homebrew-tap/README.md
  scripts/homebrew-tap/amux.rb.template
  scripts/homebrew-tap/update-formula.sh
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint, yamlfmt

feat: prepare infrastructure for Homebrew tap with repository-notify (#121)
  .github/workflows/update-homebrew-tap.yml
  .gitignore
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint, yamlfmt

docs: fix ADR path and numbering
  docs/adr/019-log-following-refresh-approach.md
  docs/adrs/018-log-following-refresh-approach.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

chore: remove test_progress.sh
  test_progress.sh
Due: none

refactor: use standard library hash/fnv instead of custom implementation
  internal/core/tail/tail.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

perf: major optimization for logs -f command
  internal/core/session/tmux_session.go
  internal/core/tail/tail.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

perf: optimize logs -f to capture only terminal-visible lines
  internal/cli/commands/session/logs.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/tail/tail.go
  internal/mcp/session_resources.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test
