Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

lefthook.yml:

# Lefthook configuration for Amux
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: false
  commands:
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 1
    ensure-newline-eof:
      run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 2
    golangci-fmt:
      run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
      glob: "*.go"
      stage_fixed: true
    vet:
      run: go vet ./...
      glob: "*.go"
    test:
      run: go test -short ./...
      glob: "*.go"
    mod-tidy:
      run: go mod tidy
      glob: "go.mod"
      stage_fixed: true
    markdown-lint:
      run: npx --no-install markdownlint-cli2 {staged_files}
      glob: "*.md"
    yamlfmt:
      run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
      glob: "*.{yaml,yml}"
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    test-full:
      run: go test ./...
    build:
      run: go build -o bin/amux cmd/amux/main.go
commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit $1

docs: update ADR-019 with performance optimization details
  docs/adr/019-log-following-refresh-approach.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor: eliminate redundancy in CapturePane methods
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/mock.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: improve logs -f to capture AI agent progress updates (#111)
  docs/adr/019-log-following-refresh-approach.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/session.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/tail/tail.go
  internal/mcp/session_resources.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: implement session send-input command (#97)
  internal/cli/commands/session/send_input.go
  internal/cli/commands/session/send_input_test.go
  internal/cli/commands/session/session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement session send-input command (#97) (#126)
  internal/cli/commands/session/send_input.go
  internal/cli/commands/session/send_input_test.go
  internal/cli/commands/session/session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: simplify status display with separate STATUS and DURATION columns
  docs/agent-multiplexing.md
  internal/cli/commands/session/list.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: implement real-time session status tracking
  CLAUDE.md
  README.md
  docs/agent-multiplexing.md
  internal/adapters/tmux/mock.go
  internal/cli/commands/root.go
  internal/cli/commands/session/list.go
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor: use clearer column names IN STATUS and TOTAL TIME
  docs/agent-multiplexing.md
  internal/cli/commands/session/list.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: show status duration for all states, not just idle
  docs/agent-multiplexing.md
  internal/cli/commands/session/list.go
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: update StatusRunning references to use IsRunning() method
  internal/adapters/tmux/mock.go
  internal/cli/commands/session/attach.go
  internal/core/tail/tail.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: update remove.go to use IsRunning() method
  internal/cli/commands/session/remove.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add session remove command (#115)
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: show status duration for all states, not just idle
  internal/core/session/mock_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: implement on-demand status checking instead of background monitoring
  internal/cli/commands/session/list.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

style: fix gofumpt formatting in mock.go
  internal/adapters/tmux/mock.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: initialize StatusChangedAt and rename test fields for clarity
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: remove duplicate TestSessionStatus_MockAdapter test
  internal/core/session/mock_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix(session): persist output hash to enable idle detection
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement real-time session status tracking
  internal/adapters/tmux/mock.go
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: update GetOutput calls to include maxLines parameter
  internal/core/session/mock_test.go
  internal/core/session/tmux_session_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor(session): group status fields into StatusState struct
  internal/cli/commands/session/list.go
  internal/cli/commands/session/remove_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: add missing blank line for gofumpt compliance
  internal/adapters/tmux/mock.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat(session): update status when sending input and in MCP handlers
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: update send_input.go and fix test race condition
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/send_input.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR for session status tracking
  docs/adr/020-session-status-tracking.md
  docs/adr/CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

chore: disable MD013 line length rule for markdownlint
  package.json
Due: remove-trailing-spaces, ensure-newline-eof

feat: implement real-time session status tracking (#102)
  CLAUDE.md
  README.md
  docs/adr/020-session-status-tracking.md
  docs/adr/CLAUDE.md
  docs/agent-multiplexing.md
  internal/adapters/tmux/mock.go
  internal/cli/commands/root.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/remove.go
  internal/cli/commands/session/remove_test.go
  internal/cli/commands/session/send_input.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/tail/tail.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: add config command for configuration management
  README.md
  internal/cli/commands/config.go
  internal/cli/commands/config_edit.go
  internal/cli/commands/config_show.go
  internal/cli/commands/config_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: add config command for configuration management (#127)
  README.md
  internal/cli/commands/config.go
  internal/cli/commands/config_edit.go
  internal/cli/commands/config_show.go
  internal/cli/commands/config_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

chore: disable MD013 line length rule for markdownlint (#128)
  package.json
Due: remove-trailing-spaces, ensure-newline-eof

feat: add workspace cd command to open subshell in workspace directory (#129)
  README.md
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: use /bin/bash as default shell for better interactive experience
  internal/cli/commands/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add workspace cd command to open subshell in workspace directory (#130)
  README.md
  internal/cli/commands/workspace.go
  internal/cli/commands/workspace_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor: remove agent parameter from workspace creation
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/workspace/manager.go
  internal/core/workspace/types.go
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/mcp/server.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove agent parameter from workspace creation (#132)
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/workspace/manager.go
  internal/core/workspace/types.go
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/mcp/server.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: replace deprecated filepath.HasPrefix with strings.HasPrefix
  internal/mcp/storage_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: deprecate mailbox in favor of generalized storage (#112)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/adr/009-mcp-resources-and-prompts.md
  docs/adr/017-deprecate-mailbox-for-storage.md
  docs/mcp.md
  internal/cli/commands/helpers.go
  internal/cli/commands/mailbox.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/root.go
  internal/cli/commands/session/helpers.go
  internal/cli/ui/output.go
  internal/core/mailbox/manager.go
  internal/core/mailbox/manager_test.go
  internal/core/mailbox/types.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/store.go
  internal/core/session/types.go
  internal/core/tail/tail_test.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
  internal/mcp/bridge_tools.go
  internal/mcp/resource_templates.go
  internal/mcp/resource_templates_test.go
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_resources_test.go
  internal/mcp/storage_tools.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: revert changes to ADR 009 - ADRs should be immutable
  docs/adr/009-mcp-resources-and-prompts.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: correct date in ADR 017
  docs/adr/017-deprecate-mailbox-for-storage.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: rename ADR from 017 to 021 to avoid duplicate numbering
  docs/adr/021-deprecate-mailbox-for-storage.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint
