Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

lefthook.yml:

# Lefthook configuration for Amux
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: false
  commands:
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 1
    ensure-newline-eof:
      run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 2
    golangci-fmt:
      run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
      glob: "*.go"
      stage_fixed: true
    vet:
      run: go vet ./...
      glob: "*.go"
    test:
      run: go test -short ./...
      glob: "*.go"
    mod-tidy:
      run: go mod tidy
      glob: "go.mod"
      stage_fixed: true
    markdown-lint:
      run: npx --no-install markdownlint-cli2 {staged_files}
      glob: "*.md"
    yamlfmt:
      run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
      glob: "*.{yaml,yml}"
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    test-full:
      run: go test ./...
    build:
      run: go build -o bin/amux cmd/amux/main.go
commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit $1

refactor: remove redundant agent command in favor of config command (#155)
  README.md
  docs/adr/025-remove-agent-command.md
  internal/cli/commands/agent/agent.go
  internal/cli/commands/agent/list.go
  internal/cli/commands/agent/show.go
  internal/cli/commands/root.go
  internal/cli/commands/session/send_input_test.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

chore: remove deprecated template files (#156)
  internal/templates/background.md
  internal/templates/instructions.md
  internal/templates/plan.md
  internal/templates/results-summary.md
  internal/templates/templates.go
  internal/templates/working-log.md
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor: remove unused repository and defaultAgent fields from project config
  internal/cli/commands/config_show.go
  internal/cli/commands/config_test.go
  internal/cli/commands/config_validate.go
  internal/cli/commands/config_validate_test.go
  internal/cli/commands/init.go
  internal/core/agent/manager_test.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove name field from project config making it completely empty
  internal/cli/commands/config_show.go
  internal/cli/commands/config_test.go
  internal/cli/commands/config_validate.go
  internal/cli/commands/config_validate_test.go
  internal/cli/commands/init.go
  internal/core/agent/manager_test.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: correct YAML project field format in tests
  internal/core/config/schema_validation_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: completely remove ProjectConfig from codebase
  internal/cli/commands/config_show.go
  internal/cli/commands/config_test.go
  internal/cli/commands/config_validate_test.go
  internal/core/agent/manager_test.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: apply gofumpt formatting
  internal/core/config/schema_validation_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: remove ProjectConfig from codebase (#157)
  internal/cli/commands/config_show.go
  internal/cli/commands/config_test.go
  internal/cli/commands/config_validate.go
  internal/cli/commands/config_validate_test.go
  internal/cli/commands/init.go
  internal/core/agent/manager_test.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat(mcp): add shell and windowName support to session_run tool
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/tool_descriptions.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: apply gofumpt formatting
  internal/adapters/tmux/adapter.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement shell and windowName support for tmux sessions
  docs/agent-multiplexing.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/adapter_test.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/adapters/tmux/mock_test.go
  internal/cli/commands/session/run.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: use /bin/bash instead of /bin/zsh in MCP tests for CI compatibility
  internal/adapters/tmux/adapter.go
  internal/core/session/tmux_session.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: improve session architecture and tmux parameter support
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/adapter_test.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/run.go
  internal/core/session/environment.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/tail/tail_test.go
  internal/mcp/session_resources.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

style: use fmt.Sprintf for environment variable formatting
  internal/adapters/tmux/adapter.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: pass agent config to tmux session instead of using manager
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement tmux parameters support (shell, windowName, environment) (#159)
  docs/agent-multiplexing.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/adapter_test.go
  internal/adapters/tmux/interface.go
  internal/adapters/tmux/mock.go
  internal/adapters/tmux/mock_test.go
  internal/cli/commands/session/helpers.go
  internal/core/session/environment.go
  internal/core/session/failure_test.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/tail/tail_test.go
  internal/mcp/session_resources.go
  internal/mcp/tool_descriptions.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: apply markdown formatting for CI
  docs/agent-multiplexing.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: add autoAttach parameter for tmux agents
  docs/agent-multiplexing.md
  internal/cli/commands/session/run.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
  internal/core/config/unmarshal_test.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: update tests for config structure changes after rebase
  internal/core/config/schema_validation_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add --auto-attach CLI flag for tmux session control
  internal/cli/commands/session/run.go
  internal/cli/commands/session/session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add autoAttach parameter for tmux agents (#158)
  docs/agent-multiplexing.md
  internal/cli/commands/session/run.go
  internal/cli/commands/session/session.go
  internal/core/config/schema_validation_test.go
  internal/core/config/schemas/config.schema.json
  internal/core/config/types.go
  internal/core/config/unmarshal_test.go
  internal/mcp/session_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: disable workspace-browse MCP tool for v0.1.0
  internal/mcp/workspace_bridge_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: disable workspace-browse MCP tool for v0.1.0 (#166)
  internal/mcp/workspace_bridge_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR-026 for separate storage endpoints
  docs/adr/026-separate-storage-endpoints.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: update error suggestions to use new separated storage tools
  internal/mcp/error_helpers.go
  internal/mcp/error_helpers_test.go
  internal/mcp/tool_descriptions.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor(mcp): remove deprecated unified storage tools
  docs/adr/026-separate-storage-endpoints.md
  internal/mcp/storage_tools.go
  internal/mcp/storage_tools_test.go
  internal/mcp/tool_descriptions.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat(mcp): add separate storage endpoints for workspace and session
  internal/mcp/storage_tools.go
  internal/mcp/storage_tools_test.go
  internal/mcp/tool_descriptions.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat(mcp): separate storage endpoints for workspace and session (#168)
  docs/adr/026-separate-storage-endpoints.md
  internal/mcp/error_helpers.go
  internal/mcp/error_helpers_test.go
  internal/mcp/storage_tools.go
  internal/mcp/storage_tools_test.go
  internal/mcp/tool_descriptions.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: hooks execute in workspace directory and implement session hooks
  docs/adr/027-hook-execution-directory.md
  internal/cli/commands/hooks.go
  internal/cli/commands/session/hooks.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/workspace.go
  internal/core/hooks/executor.go
  internal/core/hooks/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: make shell execution platform-specific for Windows compatibility
  docs/adr/027-hook-execution-directory.md
  internal/core/hooks/executor.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: revert to direct command execution for simplicity and portability
  docs/adr/027-hook-execution-directory.md
  internal/core/hooks/executor.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: update ADR-027 to clarify command execution approach
  docs/adr/027-hook-execution-directory.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: hooks execute in workspace directory and implement session hooks (#173)
  docs/adr/027-hook-execution-directory.md
  internal/cli/commands/hooks.go
  internal/cli/commands/session/hooks.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/stop.go
  internal/cli/commands/workspace.go
  internal/core/hooks/executor.go
  internal/core/hooks/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: ask for consent before modifying .gitignore
  internal/cli/commands/init.go
  internal/cli/ui/output.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: ask for consent before modifying .gitignore (#174)
  internal/cli/commands/init.go
  internal/cli/ui/output.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: improve session_run tool description to prevent overuse (#172)
  internal/mcp/tool_descriptions.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: skip session storage tests when tmux is not available
  internal/mcp/storage_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: improve session_run tool description to prevent overuse (#175)
  internal/mcp/storage_tools_test.go
  internal/mcp/tool_descriptions.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: correct session_run workspace_identifier as required parameter
  docs-site/docs/guides/ai-workflows.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: update documentation to use --git-root flag from PR #153
  README.md
  docs-site/docs/guides/ai-workflows.md
  docs/mcp-integration.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint
