Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

lefthook.yml:

# Lefthook configuration for Amux
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: false
  commands:
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 1
    ensure-newline-eof:
      run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 2
    golangci-fmt:
      run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
      glob: "*.go"
      stage_fixed: true
    vet:
      run: go vet ./...
      glob: "*.go"
    test:
      run: go test -short ./...
      glob: "*.go"
    mod-tidy:
      run: go mod tidy
      glob: "go.mod"
      stage_fixed: true
    markdown-lint:
      run: npx --no-install markdownlint-cli2 {staged_files}
      glob: "*.md"
    yamlfmt:
      run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
      glob: "*.{yaml,yml}"
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    test-full:
      run: go test ./...
    build:
      run: go build -o bin/amux cmd/amux/main.go
commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit $1

docs: update PR guidelines to exclude issue refs from titles (#89)
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: add --format option for structured output (json, pretty) (#88)
  internal/cli/commands/root.go
  internal/cli/commands/version.go
  internal/cli/commands/workspace.go
  internal/cli/ui/formatter.go
  internal/cli/ui/formatter_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement proper logging infrastructure for library code
  internal/cli/commands/agent.go
  internal/cli/commands/helpers.go
  internal/cli/commands/logger.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/root.go
  internal/core/logger/logger.go
  internal/core/logger/logger_test.go
  internal/core/logger/options.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: implement proper logging infrastructure for library code (#87)
  internal/cli/commands/agent.go
  internal/cli/commands/helpers.go
  internal/cli/commands/logger.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/root.go
  internal/core/logger/logger.go
  internal/core/logger/logger_test.go
  internal/core/logger/options.go
  internal/core/session/manager.go
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: enable auto-workspace creation for quick starts (#5)
  README.md
  internal/cli/commands/agent.go
  internal/cli/commands/agent_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix: remove excessive blank lines from CLI help examples
  internal/cli/commands/agent.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: use consistent output message for all session starts
  internal/cli/commands/agent.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: show workspace names instead of IDs in output messages
  internal/cli/commands/agent.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: remove excessive blank lines from CLI help examples (#91)
  internal/cli/commands/agent.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/workspace.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: use session ID for auto-created workspace names
  internal/cli/commands/agent.go
  internal/cli/commands/agent_test.go
  internal/core/session/manager.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat(mcp): implement MCP Resources for session management (#53)
  docs/mcp.md
  internal/mcp/bridge_tools.go
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_resources_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor: simplify session ID generation in agent.go
  internal/cli/commands/agent.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: enable auto-workspace creation for quick starts (#90)
  README.md
  internal/cli/commands/agent.go
  internal/cli/commands/agent_test.go
  internal/core/session/manager.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat(mcp): add session management tools
  docs/mcp.md
  internal/mcp/server.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor(mcp): rename session_send to session_send_input for clarity
  docs/mcp.md
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix(mcp): skip session_send_input test when tmux is not available
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add initial prompt support for agent sessions (#93)
  internal/cli/commands/agent.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix(mcp): fix duplicate tool registration in test
  internal/mcp/session_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor(mcp): split bridge tool registration into separate functions
  internal/mcp/bridge_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

perf: reduce initial prompt delay from 2s to 100ms
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add initial prompt support for agent sessions (#96)
  internal/cli/commands/agent.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor(mcp): reorganize bridge tools into separate files for consistency
  internal/mcp/bridge_tools.go
  internal/mcp/bridge_tools_test.go
  internal/mcp/prompt_bridge_tools.go
  internal/mcp/prompt_bridge_tools_test.go
  internal/mcp/workspace_bridge_tools.go
  internal/mcp/workspace_bridge_tools_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add real-time log tailing for agent sessions (#6)
  README.md
  internal/adapters/tmux/mock.go
  internal/cli/commands/agent.go
  internal/cli/commands/agent_logs_test.go
  internal/cli/commands/root.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor: reorganize commands package and extract tail functionality
  internal/cli/commands/agent/agent.go
  internal/cli/commands/agent/attach.go
  internal/cli/commands/agent/config.go
  internal/cli/commands/agent/helpers.go
  internal/cli/commands/agent/helpers_test.go
  internal/cli/commands/agent/list.go
  internal/cli/commands/agent/logs.go
  internal/cli/commands/agent/logs_test.go
  internal/cli/commands/agent/run.go
  internal/cli/commands/agent/stop.go
  internal/cli/commands/agent_logs_test.go
  internal/cli/commands/context.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/root.go
  internal/core/tail/tail.go
  internal/core/tail/tail_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: merge InitialPrompt feature from main branch
  internal/cli/commands/agent/agent.go
  internal/cli/commands/agent/run.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix(lint): exclude .claude directory from markdown linting
  package.json
Due: remove-trailing-spaces, ensure-newline-eof

fix: resolve race condition in tail tests
  internal/core/tail/tail_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add real-time log tailing for agent sessions (#94)
  README.md
  internal/adapters/tmux/mock.go
  internal/cli/commands/agent.go
  internal/cli/commands/agent/agent.go
  internal/cli/commands/agent/attach.go
  internal/cli/commands/agent/config.go
  internal/cli/commands/agent/helpers.go
  internal/cli/commands/agent/helpers_test.go
  internal/cli/commands/agent/list.go
  internal/cli/commands/agent/logs.go
  internal/cli/commands/agent/logs_test.go
  internal/cli/commands/agent/run.go
  internal/cli/commands/agent/stop.go
  internal/cli/commands/context.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/root.go
  internal/core/tail/tail.go
  internal/core/tail/tail_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

fix(lint): fix staticcheck S1009 warning
  internal/mcp/bridge_tools.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR-017 for synchronous session communication
  docs/adr/017-synchronous-session-communication.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat(mcp): implement MCP Resources for session management (#92)
  docs/mcp.md
  internal/mcp/bridge_tools.go
  internal/mcp/bridge_tools_test.go
  internal/mcp/prompt_bridge_tools.go
  internal/mcp/prompt_bridge_tools_test.go
  internal/mcp/server.go
  internal/mcp/session_bridge_tools.go
  internal/mcp/session_resources.go
  internal/mcp/session_resources_test.go
  internal/mcp/session_tools.go
  internal/mcp/session_tools_test.go
  internal/mcp/workspace_bridge_tools.go
  internal/mcp/workspace_bridge_tools_test.go
  package.json
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: add ADR-017 for synchronous session communication (#99)
  docs/adr/017-synchronous-session-communication.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat: implement workspace event hooks (#45)
  internal/cli/commands/hooks.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/hooks/config.go
  internal/core/hooks/config_test.go
  internal/core/hooks/executor.go
  internal/core/hooks/executor_test.go
  internal/core/hooks/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: rename agent commands to session commands for clarity
  internal/cli/commands/agent/agent.go
  internal/cli/commands/agent/config.go
  internal/cli/commands/agent/list.go
  internal/cli/commands/agent/show.go
  internal/cli/commands/root.go
  internal/cli/commands/session/attach.go
  internal/cli/commands/session/helpers.go
  internal/cli/commands/session/helpers_test.go
  internal/cli/commands/session/list.go
  internal/cli/commands/session/logs.go
  internal/cli/commands/session/logs_test.go
  internal/cli/commands/session/run.go
  internal/cli/commands/session/session.go
  internal/cli/commands/session/stop.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: detect and use actual terminal size when creating sessions (#105)
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: detect and use actual terminal size when creating sessions (#105) (#106)
  internal/core/session/tmux_session.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add ADR-018 for agent/session command separation
  docs/adr/018-agent-session-command-separation.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

chore: fix markdown formatting in ADR-018
  docs/adr/018-agent-session-command-separation.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: update work in progress warning to alpha release status
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint
