Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, mod-tidy, markdown-lint, yamlfmt

remove-trailing-spaces:
  run: perl -i -pe 's/[ \t]+$//' {staged_files}
  stage_fixed: true
  priority: 1

ensure-newline-eof:
  run: perl -i -pe 'eof && do{print "\n" unless /\n$/}' {staged_files}
  stage_fixed: true
  priority: 2

golangci-fmt:
  run: go run -mod=readonly github.com/golangci/golangci-lint/v2/cmd/golangci-lint fmt {staged_files}
  stage_fixed: true

vet:
  run: go vet ./...

test:
  run: go test -short ./...

mod-tidy:
  run: go mod tidy
  stage_fixed: true

markdown-lint:
  run: npx --no-install markdownlint-cli2 {staged_files}

yamlfmt:
  run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
  stage_fixed: true

fix: remove incorrect github.com/aki/amux from local import prefixes
  .golangci.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

feat(build): migrate goimports formatting to golangci-lint v2 (#47)
  .golangci.yml
  justfile
  lefthook.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: remove redundant newline after table print
  internal/cli/ui/output.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix(ui): resolve table formatting issue in workspace list (#48)
  internal/cli/ui/output.go
  internal/cli/ui/table.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat(build): add gofumpt for more opinionated Go code formatting
  .golangci.yml
  CLAUDE.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/adapter_test.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/context.go
  internal/cli/commands/init.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mcp.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/common/idmap.go
  internal/core/config/manager.go
  internal/core/context/manager.go
  internal/core/context/manager_test.go
  internal/core/index/manager.go
  internal/core/index/manager_concurrent_test.go
  internal/core/index/manager_test.go
  internal/core/index/types.go
  internal/core/mailbox/manager.go
  internal/core/mailbox/manager_test.go
  internal/core/session/errors.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/store.go
  internal/core/session/test_helpers.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/workspace/manager.go
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/templates/templates.go
  internal/test/integration_test.go
  internal/tests/helpers/repo.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint, yamlfmt

feat(build): add gofumpt for more opinionated Go code formatting (#49)
  .golangci.yml
  CLAUDE.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/adapter_test.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/context.go
  internal/cli/commands/init.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mcp.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/agent/manager.go
  internal/core/agent/manager_test.go
  internal/core/common/idmap.go
  internal/core/config/manager.go
  internal/core/context/manager.go
  internal/core/context/manager_test.go
  internal/core/index/manager.go
  internal/core/index/manager_concurrent_test.go
  internal/core/index/manager_test.go
  internal/core/index/types.go
  internal/core/mailbox/manager.go
  internal/core/mailbox/manager_test.go
  internal/core/session/errors.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/store.go
  internal/core/session/test_helpers.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/workspace/manager.go
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/templates/templates.go
  internal/test/integration_test.go
  internal/tests/helpers/repo.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint, yamlfmt

feat: add npm-based linting to justfile for consistency
  internal/mcp/README.md
  justfile
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor: organize justfile with logical sections using separators
  justfile
Due: none

refactor: use hyphenated naming convention for related just tasks
  justfile
Due: none

feat: unify linting/formatting with parameterized just tasks
  .github/workflows/ci.yml
  justfile
  lefthook.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

refactor: merge check-tools into init command
  justfile
Due: none

fix: replace warning icon with exclamation mark for better display
  justfile
Due: none

feat: add vet and test-short tasks to justfile
  justfile
  lefthook.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: use YAML list for lefthook glob patterns
  justfile
  lefthook.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: exclude justfile from automatic whitespace formatting
  justfile
  lefthook.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: improve newline at EOF handling in fmt-whitespace
  justfile
  lefthook.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

refactor: simplify newline EOF check in fmt-whitespace
  justfile
Due: none

refactor: simplify fmt-whitespace using fd for better readability
  justfile
Due: none

refactor: remove find fallback and add fd check to init
  justfile
Due: none

revert: rollback to find instead of fd
  justfile
Due: none

fix: suppress revive warning for common package name
  internal/core/common/idmap.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat: add npm-based linting to justfile for consistency (#50) (#51)
  .github/workflows/ci.yml
  internal/core/common/idmap.go
  internal/mcp/README.md
  justfile
  lefthook.yml
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint, yamlfmt

feat(mcp): improve tool descriptions and deprecate workspace_info
  internal/mcp/server.go
  mcp-implementation-progress.md
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat(mcp): implement MCP Resources architecture
  docs/adr/009-mcp-resources-and-prompts.md
  implementation-plan.md
  internal/mcp/resource_templates.go
  internal/mcp/resource_templates_test.go
  internal/mcp/resources.go
  internal/mcp/resources_test.go
  internal/mcp/server.go
  internal/mcp/test_helpers.go
  mcp-architecture.md
  mcp-implementation-progress.md
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor(mcp): remove conventions resource and embed paths in workspace details
  docs/adr/009-mcp-resources-and-prompts.md
  internal/mcp/resource_templates.go
  internal/mcp/resource_templates_test.go
  internal/mcp/resources.go
  internal/mcp/resources_test.go
  mcp-implementation-progress.md
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat(mcp): implement MCP Prompts architecture
  internal/mcp/prompts.go
  internal/mcp/prompts_test.go
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

docs: add comprehensive documentation for MCP features
  DEVELOPMENT.md
  README.md
  docs/adr/009-mcp-resources-and-prompts.md
  docs/mcp-usage-examples.md
  mcp-implementation-progress.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: remove obsolete mcp-architecture.md design document
  docs/mcp.md
  mcp-architecture.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: consolidate MCP documentation into single comprehensive guide
  README.md
  docs/mcp-usage-examples.md
  docs/mcp.md
  mcp-implementation-progress.md
  mcp-summary.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor(mcp): remove deprecated tools workspace_info and workspace_list
  README.md
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

refactor(mcp): remove workspace_get tool as redundant
  README.md
  internal/mcp/server.go
  mcp-summary.md
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

docs: add workspace management safety guidelines and formatting improvements
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: handle manual worktree deletion gracefully (#42)
  internal/core/git/operations.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

chore: remove implementation-plan.md from repository
  implementation-plan.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: add workspace management safety guidelines and formatting improvements (#58)
  CLAUDE.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: resolve linting issues in MCP implementation
  internal/mcp/prompts.go
  internal/mcp/prompts_test.go
  internal/mcp/resource_templates.go
  internal/mcp/resource_templates_test.go
  internal/mcp/resources.go
  internal/mcp/resources_test.go
  internal/mcp/schema_test.go
  internal/mcp/test_helpers.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

feat(mcp): implement MCP Resources and Prompts architecture (#52)
  DEVELOPMENT.md
  README.md
  docs/adr/009-mcp-resources-and-prompts.md
  docs/mcp.md
  internal/mcp/prompts.go
  internal/mcp/prompts_test.go
  internal/mcp/resource_templates.go
  internal/mcp/resource_templates_test.go
  internal/mcp/resources.go
  internal/mcp/resources_test.go
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/mcp/server.go
  internal/mcp/test_helpers.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test, markdown-lint

feat: add workspace consistency status tracking and display
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

refactor: use enum for workspace consistency status
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

fix: handle manual worktree deletion gracefully (#42) (#59)
  internal/cli/commands/workspace.go
  internal/cli/ui/output.go
  internal/core/git/operations.go
  internal/core/workspace/manager.go
  internal/core/workspace/manager_test.go
  internal/core/workspace/types.go
Due: remove-trailing-spaces, ensure-newline-eof, golangci-fmt, vet, test

Path conditions:
  remove-trailing-spaces: any of: *.{go,md,yml,yaml,txt,json,toml,mod,sum}
  ensure-newline-eof: any of: *.{go,md,yml,yaml,txt,json,toml,mod,sum}
  golangci-fmt: any of: *.go
  vet: any of: *.go
  test: any of: *.go
  mod-tidy: any of: go.mod
  markdown-lint: any of: *.md
  yamlfmt: any of: *.{yaml,yml}
