Repository choplin/amux: changes, and which lefthook commands are due for each by the changed paths.
All: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test, mod-tidy, markdown-lint, yamlfmt

lefthook.yml:

# Lefthook configuration for AgentCave
# https://github.com/evilmartians/lefthook
pre-commit:
  parallel: true
  commands:
    remove-trailing-spaces:
      run: perl -i -pe 's/[ \t]+$//' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 1
    ensure-newline-eof:
      run: perl -i -pe 'chomp if eof; $_ .= "\n"' {staged_files}
      glob: "*.{go,md,yml,yaml,txt,json,toml,mod,sum}"
      stage_fixed: true
      priority: 2
    goimports:
      run: go run -mod=readonly golang.org/x/tools/cmd/goimports -w -local github.com/aki/agentcave {staged_files}
      glob: "*.go"
      stage_fixed: true
    vet:
      run: go vet ./...
      glob: "*.go"
    test:
      run: go test -short ./...
      glob: "*.go"
    mod-tidy:
      run: go mod tidy
      glob: "go.mod"
      stage_fixed: true
    markdown-lint:
      run: npx --no-install markdownlint-cli2 {staged_files}
      glob: "*.md"
    yamlfmt:
      run: go run -mod=readonly github.com/google/yamlfmt/cmd/yamlfmt {staged_files}
      glob: "*.{yaml,yml}"
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    test-full:
      run: go test ./...
    build:
      run: go build -o bin/agentcave cmd/agentcave/main.go
commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit $1

refactor(ci): move build job to separate workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

refactor(ci): remove unnecessary go-version matrix
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

feat(ci): run tests on all supported platforms
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix(ci): quote test arguments for Windows PowerShell compatibility
  .github/workflows/ci.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix(test): use mock adapter for cross-platform test consistency
  internal/core/session/manager_test.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

fix(test): add file sync and delays for Windows compatibility
  internal/core/session/manager_test.go
  internal/core/session/store.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

feat(ci): add GitHub Actions CI/CD pipeline (#16)
  .github/dependabot.yml
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  LICENSE
  README.md
  docs/adr/006-short-hand-indices.md
  docs/adr/007-table-library-selection.md
  docs/agent-multiplexing.md
  docs/architecture.md
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/agent.go
  internal/cli/commands/helpers.go
  internal/cli/commands/version.go
  internal/cli/ui/output.go
  internal/core/agent/manager.go
  internal/core/index/manager.go
  internal/core/session/index.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/core/session/store.go
  internal/core/session/tmux_session.go
  internal/core/session/tmux_session_test.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/mcp/schema.go
  internal/mcp/schema_test.go
  internal/mcp/server.go
  internal/test/integration_test.go
  justfile
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test, markdown-lint, yamlfmt

fix: update golangci-lint to v2.1.6 and update all dependencies
  .github/workflows/ci.yml
  .golangci.yml
  go.mod
  go.sum
  justfile
Due: remove-trailing-spaces, ensure-newline-eof, mod-tidy, yamlfmt

fix: update golangci-lint config to v2 format
  .golangci.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix: update golangci-lint to v2.1.6 for compatibility with action v8 (#23)
  .github/workflows/ci.yml
  .golangci.yml
  go.mod
  go.sum
  justfile
Due: remove-trailing-spaces, ensure-newline-eof, mod-tidy, yamlfmt

fix: resolve linting errors detected by golangci-lint v2
  cmd/amux/main.go
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/agent.go
  internal/cli/commands/init.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
  internal/cli/ui/colors.go
  internal/cli/ui/output.go
  internal/core/agent/manager.go
  internal/core/common/idmap.go
  internal/core/config/manager.go
  internal/core/context/manager.go
  internal/core/git/operations.go
  internal/core/index/manager.go
  internal/core/index/types.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/mcp/schema.go
  internal/mcp/server.go
  internal/templates/templates.go
  internal/tests/helpers/repo.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

fix: resolve linting errors detected by golangci-lint v2 (#29)
  cmd/amux/main.go
  internal/adapters/tmux/adapter.go
  internal/adapters/tmux/mock.go
  internal/cli/commands/agent.go
  internal/cli/commands/init.go
  internal/cli/commands/root.go
  internal/cli/commands/workspace.go
  internal/cli/ui/colors.go
  internal/cli/ui/output.go
  internal/core/agent/manager.go
  internal/core/common/idmap.go
  internal/core/config/manager.go
  internal/core/context/manager.go
  internal/core/git/operations.go
  internal/core/index/manager.go
  internal/core/index/types.go
  internal/core/session/types.go
  internal/core/workspace/manager.go
  internal/mcp/schema.go
  internal/mcp/server.go
  internal/templates/templates.go
  internal/tests/helpers/repo.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

chore: consolidate markdownlint configuration into package.json
  .markdownlint-cli2.yaml
  package.json
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

chore: consolidate markdownlint configuration into package.json (#31)
  .markdownlint-cli2.yaml
  package.json
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

feat(mailbox): implement session mailbox system for agent communication
  CLAUDE.md
  README.md
  internal/cli/commands/helpers.go
  internal/cli/commands/peek.go
  internal/cli/commands/root.go
  internal/cli/commands/tell.go
  internal/core/mailbox/manager.go
  internal/core/mailbox/manager_test.go
  internal/core/mailbox/types.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test, markdown-lint

style: fix markdown formatting
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

refactor(mailbox): group tell and peek commands under mailbox subcommand
  CLAUDE.md
  README.md
  internal/cli/commands/mailbox.go
  internal/cli/commands/mailbox_peek.go
  internal/cli/commands/mailbox_tell.go
  internal/cli/commands/root.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test, markdown-lint

feat(mailbox): add list command to view mailbox contents
  CLAUDE.md
  README.md
  internal/cli/commands/mailbox.go
  internal/cli/commands/mailbox_list.go
  internal/cli/ui/output.go
  internal/cli/ui/output_test.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test, markdown-lint

refactor(mailbox): redesign commands for better usability
  CLAUDE.md
  README.md
  internal/cli/commands/mailbox.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_peek.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test, markdown-lint

docs: add ADR-008 for session mailbox system
  docs/adr/008-session-mailbox-system.md
  docs/adr/README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: resolve indent-error-flow linting issue
  internal/cli/commands/mailbox_show.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

style: fix formatting issues
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/ui/output_test.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

docs: fix markdown linting issues in ADR-008
  docs/adr/008-session-mailbox-system.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat(mailbox): implement session mailbox system for agent communication (#32)
  CLAUDE.md
  README.md
  docs/adr/008-session-mailbox-system.md
  docs/adr/README.md
  internal/cli/commands/helpers.go
  internal/cli/commands/mailbox.go
  internal/cli/commands/mailbox_list.go
  internal/cli/commands/mailbox_recv.go
  internal/cli/commands/mailbox_send.go
  internal/cli/commands/mailbox_show.go
  internal/cli/commands/root.go
  internal/cli/ui/output.go
  internal/cli/ui/output_test.go
  internal/core/mailbox/manager.go
  internal/core/mailbox/manager_test.go
  internal/core/mailbox/types.go
  internal/core/session/manager.go
  internal/core/session/manager_test.go
  internal/core/session/mock_test.go
  internal/test/integration_test.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test, markdown-lint

feat: move workspaces under .amux/workspaces
  docs/architecture.md
  internal/cli/commands/init.go
  internal/core/workspace/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test, markdown-lint

feat: move workspaces under .amux/workspaces (#22)
  docs/architecture.md
  internal/cli/commands/init.go
  internal/core/workspace/manager.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test, markdown-lint

fix(mcp): resolve Claude Code connection closed error (#33)
  internal/cli/commands/mcp.go
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

fix(mcp): require explicit --root-dir flag instead of using cwd
  internal/cli/commands/mcp.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

style: apply goimports formatting
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

fix(mcp): require valid config file instead of using defaults
  internal/cli/commands/mcp.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

fix(mcp): require explicit --root-dir flag for security (#34)
  internal/cli/commands/mcp.go
  internal/mcp/server.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test

fix: update repository URLs from placeholder to actual repo
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: update badge URLs from aki to choplin
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix: update repository URLs from placeholder to actual repo (#1) (#35)
  README.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: overhaul CLAUDE.md for dogfooding workflow
  CLAUDE.md
  package.json
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

docs: overhaul CLAUDE.md for dogfooding workflow (#41)
  CLAUDE.md
  package.json
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix(docs): correct ADR dates to match filesystem creation dates
  docs/adr/007-table-library-selection.md
  docs/adr/008-session-mailbox-system.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

fix(docs): correct ADR dates to match filesystem creation dates (#46)
  docs/adr/007-table-library-selection.md
  docs/adr/008-session-mailbox-system.md
Due: remove-trailing-spaces, ensure-newline-eof, markdown-lint

feat(build): migrate goimports formatting to golangci-lint v2
  .golangci.yml
  justfile
  lefthook.yml
Due: remove-trailing-spaces, ensure-newline-eof, yamlfmt

fix(ui): resolve table formatting issue in workspace list
  internal/cli/ui/table.go
Due: remove-trailing-spaces, ensure-newline-eof, goimports, vet, test
